{% extends 'mqbaka_home/index.html.twig' %}


{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    {% include "mqbaka_home/header.html.twig" %}
<link href={{ asset('css/app2.css') }} rel="stylesheet">

<div>
    <h1 class="tritre">CREDIT IMMOBILIER</h1>
    <p class="para">Renégocier son emprunt rapporte plus que jamais</p>
</div>
<div class="grandgrid" >
 <div>
     <img class="image1" src={{ asset('images/Services-renegociation-credit/credit-immobilier-072626.png') }}>
 </div>
 <div>
 <div>
     <p>Dans votre intérêt, pensez à renégocier votre prêt à un taux plus avantageux.</p>
</div>
<div class="gridinterne">
    <div>
         <img class="image2" src={{ asset('images/Services-renegociation-credit/Flèche.png') }}>
    </div>
    <div>
        <p class="para1">
            Les taux sont plus bas, il est plus que jamais JUDICIEUX.
        </p>
    </div>
</div>
<div class="gridinterne">
    <div>
         <img class="image3" src={{ asset('images/Services-renegociation-credit/flèche.png') }}>
    </div>
    <div>
        <p class="para1">
            L'operation peut rapporter de très grands profits.
        </p>
    </div>
</div>
 </div>    
</div>
{% endblock %}