<link rel="stylesheet" href={{ asset('css/header.css') }}>
<div class="header-top-bar shrinked compact">
    <div class="logo">
        <img src={{ asset('images/icon/favicon.png') }} alt="logo">
    </div>
    <div class="header-things">
        <div class="contact-stuff">
            <div class="phone">
                <img src={{ asset('images/icon/phone.png') }}  alt="">
                06 xxx xx xxx xx
            </div>
            <div class="mail">
                <img src={{ asset('images/icon/mail.png') }}  alt="">
                email@domain.com
            </div>
        </div>
        <div class="nav-bar">
            <div class="menu-list ham">
                <div class="hamburger">
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                </div>
                <div class="cross">
                    <div class="lines"></div>
                    <div class="lines"></div>
                </div>
                <ul class="nav-list mob-thing">
                    <li class="list-item">
                        <a href="#">
                            Accueil
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="#">
                            A propos
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="#">
                                Assurance emprunteur
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                Services
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                Tarifs
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                Votre concièrgerie
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                Compte
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script title="menu toggler 1200px and lower">
    let ham= document.querySelector('.hamburger');
    let cro= document.querySelector('.cross');

    let container= document.querySelector('.menu-list');
    let menu= document.querySelector('.nav-list');

    function showMenuList(){
        menu.classList.remove('mob-thing');
        container.classList.add('cro');
        container.classList.remove('ham');
    }

    function hideMenuList(){
        menu.classList.add('mob-thing');
        container.classList.add('ham');
        container.classList.remove('cro');
    }

    ham.addEventListener('click', showMenuList);
    cro.addEventListener('click', hideMenuList);

</script>