<link rel="stylesheet" href={{ asset('css/header.css') }}>
<div class="header-top-bar shrinked compact">
    <div class="logo">
        <img src={{ asset('images/icon/favicon.png') }} alt="logo">
    </div>
    <div class="header-things">
        <div class="contact-stuff">
            <div class="phone">
                <img src={{ asset('images/icon/phone.png') }}  alt="">
                06 xxx xx xxx xx
            </div>
            <div class="mail">
                <img src={{ asset('images/icon/mail.png') }}  alt="">
                email@domain.com
            </div>
        </div>
        <div class="nav-bar">
            <div class="menu-list">
                <ul class="nav-list">
                    <li class="list-item">
                        <a href="#">
                            Accueil
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="#">
                            A propos
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="#">
                                Assurance emprunteur
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                Services
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                Tarif
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                Votre concièrgerie
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="#">
                                Compte
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
