{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block stylesheets %}
    {# <link href="stylesheets/fonts/stylesheet-01.css" rel="text/css"/> #}
    <link href={{ asset('css/stylesheet.css') }} rel="stylesheet">
    <link href={{ asset('css/colors.css') }} rel="stylesheet">
    {% block addstyle %}
    {% endblock %}
{% endblock %}

{% block body %}

{% block header %}
{% include "mqbaka_home/header.html.twig" %}
{% endblock %}


dummy text
<div class="bebe">
this is a bebe
</div>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae minima ipsam in soluta expedita? Commodi est et, neque architecto aperiam eaque minus veritatis, enim sunt, voluptas explicabo error. Magnam tenetur rerum architecto autem voluptatum corporis, laudantium eaque temporibus illo, eveniet reiciendis sunt porro hic culpa, omnis amet a quaerat ex dolores asperiores. A, facilis nihil! Aspernatur ipsum quasi tempore repellendus repudiandae non sequi quidem veniam! Esse ex nobis iste quae molestias in sed alias excepturi est ipsa. Cum, culpa. Illum distinctio cupiditate animi excepturi, eum vel aut debitis nihil assumenda voluptatem dolore, quo alias neque sapiente quibusdam, itaque vitae odio delectus natus inventore? Excepturi facere adipisci vitae ducimus beatae ratione neque labore aspernatur rem fugit, eos officiis inventore soluta possimus similique voluptatum quo illum voluptas eaque iure, est consequatur. Praesentium aut aliquam recusandae perspiciatis doloremque, expedita voluptatibus perferendis hic neque maiores pariatur excepturi veritatis odio, distinctio eligendi eveniet atque vero officiis. Natus velit odio fugit in possimus rerum ea aut maiores sit nam repellat, voluptas numquam molestias rem minus. Magni obcaecati id asperiores est ipsum alias quia eveniet, culpa quas fugiat voluptas maxime deleniti. Ut aspernatur harum, maiores, vitae vel porro ab, asperiores fugit cum id ex velit laborum optio?


Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae minima ipsam in soluta expedita? Commodi est et, neque architecto aperiam eaque minus veritatis, enim sunt, voluptas explicabo error. Magnam tenetur rerum architecto autem voluptatum corporis, laudantium eaque temporibus illo, eveniet reiciendis sunt porro hic culpa, omnis amet a quaerat ex dolores asperiores. A, facilis nihil! Aspernatur ipsum quasi tempore repellendus repudiandae non sequi quidem veniam! Esse ex nobis iste quae molestias in sed alias excepturi est ipsa. Cum, culpa. Illum distinctio cupiditate animi excepturi, eum vel aut debitis nihil assumenda voluptatem dolore, quo alias neque sapiente quibusdam, itaque vitae odio delectus natus inventore? Excepturi facere adipisci vitae ducimus beatae ratione neque labore aspernatur rem fugit, eos officiis inventore soluta possimus similique voluptatum quo illum voluptas eaque iure, est consequatur. Praesentium aut aliquam recusandae perspiciatis doloremque, expedita voluptatibus perferendis hic neque maiores pariatur excepturi veritatis odio, distinctio eligendi eveniet atque vero officiis. Natus velit odio fugit in possimus rerum ea aut maiores sit nam repellat, voluptas numquam molestias rem minus. Magni obcaecati id asperiores est ipsum alias quia eveniet, culpa quas fugiat voluptas maxime deleniti. Ut aspernatur harum, maiores, vitae vel porro ab, asperiores fugit cum id ex velit laborum optio?


Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae minima ipsam in soluta expedita? Commodi est et, neque architecto aperiam eaque minus veritatis, enim sunt, voluptas explicabo error. Magnam tenetur rerum architecto autem voluptatum corporis, laudantium eaque temporibus illo, eveniet reiciendis sunt porro hic culpa, omnis amet a quaerat ex dolores asperiores. A, facilis nihil! Aspernatur ipsum quasi tempore repellendus repudiandae non sequi quidem veniam! Esse ex nobis iste quae molestias in sed alias excepturi est ipsa. Cum, culpa. Illum distinctio cupiditate animi excepturi, eum vel aut debitis nihil assumenda voluptatem dolore, quo alias neque sapiente quibusdam, itaque vitae odio delectus natus inventore? Excepturi facere adipisci vitae ducimus beatae ratione neque labore aspernatur rem fugit, eos officiis inventore soluta possimus similique voluptatum quo illum voluptas eaque iure, est consequatur. Praesentium aut aliquam recusandae perspiciatis doloremque, expedita voluptatibus perferendis hic neque maiores pariatur excepturi veritatis odio, distinctio eligendi eveniet atque vero officiis. Natus velit odio fugit in possimus rerum ea aut maiores sit nam repellat, voluptas numquam molestias rem minus. Magni obcaecati id asperiores est ipsum alias quia eveniet, culpa quas fugiat voluptas maxime deleniti. Ut aspernatur harum, maiores, vitae vel porro ab, asperiores fugit cum id ex velit laborum optio?


Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae minima ipsam in soluta expedita? Commodi est et, neque architecto aperiam eaque minus veritatis, enim sunt, voluptas explicabo error. Magnam tenetur rerum architecto autem voluptatum corporis, laudantium eaque temporibus illo, eveniet reiciendis sunt porro hic culpa, omnis amet a quaerat ex dolores asperiores. A, facilis nihil! Aspernatur ipsum quasi tempore repellendus repudiandae non sequi quidem veniam! Esse ex nobis iste quae molestias in sed alias excepturi est ipsa. Cum, culpa. Illum distinctio cupiditate animi excepturi, eum vel aut debitis nihil assumenda voluptatem dolore, quo alias neque sapiente quibusdam, itaque vitae odio delectus natus inventore? Excepturi facere adipisci vitae ducimus beatae ratione neque labore aspernatur rem fugit, eos officiis inventore soluta possimus similique voluptatum quo illum voluptas eaque iure, est consequatur. Praesentium aut aliquam recusandae perspiciatis doloremque, expedita voluptatibus perferendis hic neque maiores pariatur excepturi veritatis odio, distinctio eligendi eveniet atque vero officiis. Natus velit odio fugit in possimus rerum ea aut maiores sit nam repellat, voluptas numquam molestias rem minus. Magni obcaecati id asperiores est ipsum alias quia eveniet, culpa quas fugiat voluptas maxime deleniti. Ut aspernatur harum, maiores, vitae vel porro ab, asperiores fugit cum id ex velit laborum optio?


Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae minima ipsam in soluta expedita? Commodi est et, neque architecto aperiam eaque minus veritatis, enim sunt, voluptas explicabo error. Magnam tenetur rerum architecto autem voluptatum corporis, laudantium eaque temporibus illo, eveniet reiciendis sunt porro hic culpa, omnis amet a quaerat ex dolores asperiores. A, facilis nihil! Aspernatur ipsum quasi tempore repellendus repudiandae non sequi quidem veniam! Esse ex nobis iste quae molestias in sed alias excepturi est ipsa. Cum, culpa. Illum distinctio cupiditate animi excepturi, eum vel aut debitis nihil assumenda voluptatem dolore, quo alias neque sapiente quibusdam, itaque vitae odio delectus natus inventore? Excepturi facere adipisci vitae ducimus beatae ratione neque labore aspernatur rem fugit, eos officiis inventore soluta possimus similique voluptatum quo illum voluptas eaque iure, est consequatur. Praesentium aut aliquam recusandae perspiciatis doloremque, expedita voluptatibus perferendis hic neque maiores pariatur excepturi veritatis odio, distinctio eligendi eveniet atque vero officiis. Natus velit odio fugit in possimus rerum ea aut maiores sit nam repellat, voluptas numquam molestias rem minus. Magni obcaecati id asperiores est ipsum alias quia eveniet, culpa quas fugiat voluptas maxime deleniti. Ut aspernatur harum, maiores, vitae vel porro ab, asperiores fugit cum id ex velit laborum optio?

{% endblock %}