{% extends 'base.html.twig' %}

{% block title %}Payment effectué{% endblock %}

{% block stylesheets %}
    {# <link href="stylesheets/fonts/stylesheet-01.css" rel="text/css"/> #}
    <link href={{ asset('css/stylesheet.css') }} rel="stylesheet">
    <link href={{ asset('css/colors.css') }} rel="stylesheet">
    <link href={{ asset('css/full-height.css') }} rel="stylesheet">
    {% block addstyle %}
    {% endblock %}
{% endblock %}

{% block body %}
    <section class="all-the">
        <h1 class="sec-step-title">Votre payment a été effectué avec succès !</h1>
        <p>
            Vous pouvez maintenant aller vers la page de connexion.
        </p>
            <a href={{ path("app_login") }} class="button-togo" id="goto">Se connecter</a>
    </section>
    <div class="floatters">
        <div class="floatter"></div>
        <div class="floatter"></div>
        <div class="floatter"></div>
        <div class="floatter"></div>
    </div>
    <div class="floatters">
        <div class="floatter"></div>
        <div class="floatter"></div>
        <div class="floatter"></div>
        <div class="floatter"></div>
    </div>
{% endblock %}