{% extends 'base.html.twig' %}

{% block title %}Payment effectué{% endblock %}

{% block stylesheets %}
    {# <link href="stylesheets/fonts/stylesheet-01.css" rel="text/css"/> #}
    <link href={{ asset('css/stylesheet.css') }} rel="stylesheet">
    <link href={{ asset('css/colors.css') }} rel="stylesheet">
    <link href={{ asset('css/full-height.css') }} rel="stylesheet">
    {% block addstyle %}
    {% endblock %}
{% endblock %}

{% block body %}
    <section class="all-the">
        <h1 class="sec-step-title">Votre payment a été effectué avec succès !</h1>
        <p>
            Vous pouvez maintenant aller vers la page de connexion.
        </p>
            <button class="button-togo">Se connecter</button>
            <a href={{ path("app_login") }} class="invisible" id="goto"></a>
    </section>
    <div class="floatters">
        <div class="floatter"></div>
        <div class="floatter"></div>
        <div class="floatter"></div>
        <div class="floatter"></div>
    </div>
    <div class="floatters">
        <div class="floatter"></div>
        <div class="floatter"></div>
        <div class="floatter"></div>
        <div class="floatter"></div>
    </div>
    <script title="for the button">
        let btn= document.querySelector("button-togo");
        btn.addEventListener("click", goto);
        function goto() {
            document.querySelector("#goto").click();
        }
    </script>
{% endblock %}