{% extends 'base.html.twig' %}

{% block title %}cgv!{% endblock %}

{% block body %}

    {% block header %}
    {% include "mqbaka_home/header.html.twig" %}
    {% endblock %}

    <meta name="viewport" content="widht=device-widht , initial-scale=1.0">
        <link href={{ asset('css/stylesheet.css') }} rel="stylesheet">
        <link href={{ asset('css/colors.css') }} rel="stylesheet">

    <div class="cgv">
        Avant l’utilisation du présent site accessible à l’adresse finance.femcreditconso.fr et app.finance.femcreditconso.fr, l’utilisateur devra accepter les présentes conditions générales d’utilisation (« CGU »). L’utilisation du site est réservée aux utilisateurs qui ont préalablement pris connaissance et accepté sans réserve les CGU.
Données personnelles & vie privée :
F E M collecte et utilise les données personnelles afin de vous fournir ses services de courtage en financement et d’assurance.
L’utilisateur est informé qu’il peut s’inscrire à tout moment sur une liste d’opposition au démarchage téléphonique conformément à l’article L. 223-1 du code de la consommation.
L’utilisateur dispose également d’un droit d’accès et de rectification aux données le concernant qui seront conservées pendant une durée maximale de 10 ans. Ces données sont conservées pour améliorer l’expérience utilisateur et ne seront en aucun cas revendus à des tiers.
Conformément aux dispositions de la loi du 6 janvier 1978 modifiée, l’utilisateur dispose d’un droit d’accès, de modification et d’opposition au traitement des informations personnelles qui le concernent, et ce quel que soit le mode de collecte de données. Pour ce faire, L’utilisateur peut envoyer un mail à contact@financeetmoi.fr. Dans les 15 jours F E M supprimera la totalité de vos données.
Une fois votre demande réalisée, les organismes bancaires partenaires auxquels la demande a été envoyée (Cetelem, Franfinance, FLOA Banque, younted et Cofidis) seront susceptibles de vous contacter pour finaliser la transaction. F E M n’est en aucun cas responsable des appels/sms reçus par les banques. Si vous ne souhaitez plus recevoir d’appel, la notification devra être faite auprès de ou des banques concernées.
Cookies :
Lors de la navigation sur le site finance.femcreditconso.fr, des cookies peuvent être déposés sur les appareils (ordinateur ou appareil mobile) de l’utilisateur.
un cookie est un petit fichier texte enregistré sur l'ordinateur d'un internaute lorsqu'il visite une page web pour enregistrer des informations sur la navigation sur le site web.
Sur le site finance.femcreditconso.fr, les cookies ont les finalités :
• l’aide à la navigation sur le site finance.femcreditconso.fr;
• l’amélioration continue de la qualité des services de finance.femcreditconso.fr;
• les mesures d’audience des différentes pages du site finance.femcreditconso.fr ;
• la présentation d’offres publicitaires ciblées en fonction des centres d’intérêts de chaque utilisateur ;
• le partage des contenus du site finance.femcreditconso.fr sur les réseaux sociaux au moyen des boutons de partage. L’utilisation de ces boutons, tels que « partager », « tweeter », entrainera la transmission des informations de l’utilisateur au réseau social concerné. Si l’utilisateur est connecté à un réseau social et navigue sur le site finance.femcreditconso.fr, le réseau social associera les informations collectées sur les cookies installés sur le site finance.femcreditconso.fr au compte de l’utilisateur. L’utilisateur peut se déconnecter du réseau social pour ne pas permettre l’association de ces données avec son compte.
Pour ces cookies, il sera demandé à l’utilisateur de consentir préalablement à leur installation et à leur utilisation au moyen d’un bandeau qui sera affiché sur le site finance.femcreditconso.fr.
L’utilisateur peut s’opposer à l’insertion des cookies en configurant les préférences du navigateur de son terminal de façon à ne plus les accepter. L’utilisateur peut également accepter ou refuser l’ensemble des cookies utilisés sur le site finance.femcreditconso.fr, en accédant aux paramètres de confidentialité dans son navigateur.
Propriété intellectuelle :
F E M est titulaire des droits sur tous les contenus (logo, texte ...) sur le site finance.femcreditconso.fr.
Toute reproduction totale ou partielle de ces éléments, sons le consentement écrit de F E M, est interdite.
Liens vers des sites tiers :
F E M peut être amené à mentionner des sites tiers dans ses publications ou son contenu. Par ailleurs, F E M ne se porte en aucun cas garant ou responsable des événements, contenus ou conditions d’utilisation/vente de ces sites. Ils sont mentionnés à titre d’information ou complément d’information. L’utilisateur est seul responsable de l’utilisation desdits liens.
Crédits :
Les photos et illustrations présentes sur le site finance.femcreditconso.fr sont tirées de sites libres de droit tels que pexels.
Réclamations :
Les réclamations de tout type sont à adresser à contact@financeetmoi.fr
Avertissements :
Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.
Responsabilités :
F E M propose aux utilisateurs du site finance.femcreditconso.fr et app.finance.femcreditconso.fr un contenu informatif concernant les crédits consommation, les crédits automobiles et autres ou les regroupements de crédits et les assurances automobiles et autres par des articles, des simulations pour définir un budget, des comparaisons de plusieurs offres afin de renseigner l’utilisateur et de lui permettre de se renseigner sur les pratiques des crédits consommation ou regroupements de crédits.
Ces informations sont fournies à titre indicatif, et en aucun cas le contenu présenté est définitif et ne prend pas la forme d’une offre finale de la part de nos partenaires bancaires et d’assurance.
L’évolution permanente des conditions de crédits, du marché plus globalement et des particularités de chaque dossier/projet ne permet pas à F E M de présenter des offrez définitives. F E M ne garantit donc en aucun cas l’exactitude des informations fournies.
De ce fait, pour tout préjudice subi, la responsabilité de F E M ou de l’un de ses partenaires ne pourra être recherchée au titre de l’information proposée sur le site finance.femcreditconso.fr ou app.finance.femcreditconso.fr, quelle que soit la forme de présentation de cette information.
Les simulations et les comparaisons des offres de banques et d’assurance fournies par F E M ne sont qu’à titre indicatif et ne représentent pas l’offre finale susceptible d’être proposée par les banques ou l’assurance après analyse approfondie du dossier.
L’offre définitive des partenaires bancaires et d’assurance sont proposées, par l’intermédiaire de F E M, suite à l’analyse approfondie du dossier et des pièces justificatives fournies par l’utilisateur pour un dossier de crédit (par exemple : justificatifs de revenu, justificatifs de domicile).
F E M ne pourra pas voir sa responsabilité pour tous dommages causés à l’utilisateur résultant du contenu, de l’accès, ou de l’utilisation du site finance.femcreditconso.fr et app.finance.femcreditconso.fr.
2- Données personnelles
Respect de la vie privée :
F E M a pour mission de trouver et négocier pour vous le meilleur financement que ce soit crédit consommation, crédit affecté ou regroupement de crédit et assurance ou des solutions locatives (LOA, LLD). Pour ce faire, nous allons donc vous demander de nous communiquer des informations détaillées sur votre situation financière et votre projet. Ces données nous permettent d’identifier la meilleure offre pour vous auprès de nos partenaires bancaires et de leur présenter un dossier complet pour le bon fonctionnement de notre service. Aucune information, inutile à notre mission ne vous sera demandée.
Les banques auprès desquelles F E M présente votre dossier sont les suivantes : Cetelem, FLOA Banque, Franfinance et Cofidis younted.
Pour information, sans votre accord :
• Nous ne transmettons aucune information aux banques
• Nous ne vendons et ne transmettons vos informations à aucun partenaire commercial
• Vous pouvez accéder à vos données et demander leur suppression à tout moment en soumettant votre demande à contact@financeetmoi.fr
Types de Données collectées
Le type de données personnelles collectées par F E M directement ou par le canal de tiers sont : adresse électronique, formulaire d’inscription, Cookies, prénom, nom de famille et date de naissance, situation familiale, situation professionnelle et situation patrimoniale.
Les Données personnelles sont soit fournies directement par l’Utilisateur ou collectées auprès de nos partenaires vendeurs
Pour information, toutes les informations demandées sont nécessaires pour le traitement des dossiers de financement et du bon fonctionnement de nos services.
Les Utilisateurs qui auraient des doutes sur les Données personnelles obligatoires sont invités à nous contacter à l’adresse contact@financeetmoi.fr.
Mode et lieu de traitement des Données :
Méthodes de traitement :
F E M prend toutes les mesures de sécurité nécessaires afin d’empêcher l’accès, la divulgation, la modification ou la destruction non autorisés des Données.
Les informations communiquées par l’utilisateur peuvent être accessibles à des services de F E M tels que les ventes, le marketing, l’analyse de crédit et le juridique. Ces données peuvent également être accessibles à des parties en dehors de F E M tout utilisateur peut demander la liste de ces sous-traintants.
Lieu de traitement :
Les Données sont traitées au siège de F E M et dans tous les autres lieux où sont situées les parties responsables du traitement.
Temps de conservation :
Les données et informations fournies par l’utilisateur sont conservées jusqu’à la finalisation du service pour lequel F E M a été mandaté.
Toutefois, F E M peut conserver ces données plus longtemps tant que l’utilisateur n’a pas retiré son consentement dans le seul but d’améliorer l’expérience et les offres de F E M. Les données peuvent être conservées jusqu’à 10 ans suite à la demande de financement.
Finalités du traitement :
Les Données relatives à l’Utilisateur sont collectées afin de permettre au Propriétaire de fournir ses Services, ainsi que pour les finalités suivantes : Marketing et partenariats, Amélioration de votre parcours, Infrastructure technique et hébergement, Relation client et suivi de dossier, Stockage et traitement des pièces justificatives, Inscription et authentification.
Toutes les données conservées seront utilisées pour améliorer les processus de F E M et l’expérience utilisateur.
F E M se donne le droit de partager ces informations à ses partenaires de manière anonyme pour les finalités suivantes : Marketing et partenariats, Amélioration de votre parcours. Ces données seront utilisées de manière totalement anonyme peuvent être les suivantes : Age, situation professionnelle, région/ville d’habitation et/ou de naissance, rémunérations, dépenses, nombre de personnes à charge, situation maritale. Les informations permettant l’identification ne seront jamais divulguées et resteront stockées chez F E M. À tout moment, l’internaute a la possibilité de demander à être retirées de toute les bases de données de F E M et de ses partenaires.
Ces données ne seront en aucun cas utilisées pour atteindre la personne concernée mais seulement pour l’étude de tendance, d’analyse et de ciblage.
Informations détaillées sur le traitement des
Données personnelles :
Les Données personnelles sont collectées pour les finalités à l’aide de plusieurs services :
Droits des Utilisateurs :
Les Utilisateurs de F E M ont le droit de :
• Accéder à leurs Données. Les Utilisateurs ont le droit de savoir si les Données sont traitées par le Propriétaire, d’obtenir des informations sur certains aspects du traitement et d’obtenir une copie des Données en cours de traitement.
• Retirer leur consentement à tout moment. Les Utilisateurs ont le droit de retirer leur consentement s’ils ont déjà donné leur consentement au traitement de leurs Données personnelles.
• S’opposer au traitement de leurs Données. Les Utilisateurs ont le droit de s’opposer au traitement de leurs Données si le traitement est effectué sur une base juridique autre que le consentement. Des précisions sont ajoutées dans la section correspondante ci-dessous.
• Vérifier et obtenir une rectification. Les Utilisateurs ont le droit de vérifier l’exactitude de leurs Données et de demander qu’elles soient mises à jour ou corrigées.
• Limiter le traitement de leurs Données. Les Utilisateurs ont le droit, sous certaines conditions, de limiter le traitement de leurs Données. Dans ce cas, le Propriétaire traitera leurs Données uniquement pour les stocker.
• Faire supprimer ou effacer leurs Données personnelles. Les Utilisateurs ont le droit, sous certaines conditions, d’obtenir l’effacement de leurs Données auprès du Propriétaire.
• Déposer plainte. Les Utilisateurs ont le droit de déposer une plainte auprès de leur autorité compétente en matière de protection des données.
Comment exercer ces droits
Concernant toute demande, il suffit de transmettre sa demande par mail à l’adresse contact@financeetmoi.fr. F E M s’engage à traiter cette demande dans un délai maximum d’un mois.
Informations supplémentaires sur le traitement et la collecte des Données
Informations non incluses dans la présente politique :
D’autres renseignements/informations concernant la collecte ou le traitement des Données personnelles peuvent être demandés au Propriétaire. Veuillez consulter les coordonnées figurant au début du présent document.
Modifications de la présente politique de confidentialité
Le Propriétaire se réserve le droit d’apporter des modifications à la présente politique de confidentialité, à tout moment, en informant ses Utilisateurs sur cette page et éventuellement dans cette Application ou – pour autant que cela soit techniquement et légalement possible – en envoyant une notification aux Utilisateurs par l’intermédiaire des coordonnées disponibles pour le Propriétaire. Il est fortement recommandé de consulter cette page fréquemment, en se référant à la date de la dernière modification indiquée en bas.
Si les modifications influencent les activités de traitement effectuées sur la base du consentement de l’Utilisateur, le Propriétaire doit recueillir un nouveau consentement de l’Utilisateur lorsque nécessaire.
Définitions et références légales :
Utilisateur :
La personne utilisant cette Application qui, sauf indication contraire, correspond à la Personne concernée.
Personne concernée :
La personne physique à laquelle les Données personnelles font référence.
Sous-traitant (ou Responsable des données) :
La personne physique ou morale, l’autorité publique, l’institution ou tout autre organisme qui traite les Données personnelles pour le compte du Responsable du traitement, tel que décrit dans la présente politique de confidentialité.
Responsable du traitement (ou Propriétaire) :
La personne physique ou morale, l’autorité publique, l’institution ou toute autre organisme qui, seul ou conjointement avec d’autres, détermine les finalités et les moyens du traitement de Données personnelles, y compris les mesures de sécurité concernant le fonctionnement et l’utilisation de cette Application. Sauf mention contraire, le Responsable du traitement est le Propriétaire de cette Application.
Cette Application :
Les moyens par lesquels les Données personnelles de l’Utilisateur sont collectées et traitées.
Service :
Le service fourni par cette Application comme décrit dans les conditions s’y rapportant (le cas échéant) et sur ce site/cette application.
Informations légales :
La présente politique de confidentialité a été préparée en exécution des dispositions de plusieurs législations, notamment de l’article 13/14 du règlement européen 2016/679 (règlement général sur la protection des données).
Cette politique de confidentialité concerne uniquement cette Application, sauf indication contraire dans le présent document.
Avant l’utilisation du présent site accessible à l’adresse finance.femcreditconso.fr et app.finance.femcreditconso.fr, l’utilisateur devra accepter les présentes conditions générales d’utilisation (« CGU »). L’utilisation du site est réservée aux utilisateurs qui ont préalablement pris connaissance et accepté sans réserve les CGU.
Données personnelles & vie privée :
F E M collecte et utilise les données personnelles afin de vous fournir ses services de courtage en financement et d’assurance.
L’utilisateur est informé qu’il peut s’inscrire à tout moment sur une liste d’opposition au démarchage téléphonique conformément à l’article L. 223-1 du code de la consommation.
L’utilisateur dispose également d’un droit d’accès et de rectification aux données le concernant qui seront conservées pendant une durée maximale de 10 ans. Ces données sont conservées pour améliorer l’expérience utilisateur et ne seront en aucun cas revendus à des tiers.
Conformément aux dispositions de la loi du 6 janvier 1978 modifiée, l’utilisateur dispose d’un droit d’accès, de modification et d’opposition au traitement des informations personnelles qui le concernent, et ce quel que soit le mode de collecte de données. Pour ce faire, L’utilisateur peut envoyer un mail à contact@financeetmoi.fr. Dans les 15 jours F E M supprimera la totalité de vos données.
Une fois votre demande réalisée, les organismes bancaires ou assurances partenaires auxquels la demande a été envoyée seront susceptibles de vous contacter pour finaliser la transaction. F E M n’est en aucun cas responsable des appels/sms reçus par les banques. Si vous ne souhaitez plus recevoir d’appel, la notification devra être faite auprès de ou des banques concernées.
Cookies :
Lors de la navigation sur le site finance.femcreditconso.fr, des cookies peuvent être déposés sur les appareils (ordinateur ou appareil mobile) de l’utilisateur.
un cookie est un petit fichier texte enregistré sur l'ordinateur d'un internaute lorsqu'il visite une page web pour enregistrer des informations sur la navigation sur le site web.
Sur le site finance.femcreditconso.fr, les cookies ont les finalités :
• l’aide à la navigation sur le site finance.femcreditconso.fr ;
• l’amélioration continue de la qualité des services de finance.femcreditconso.fr;
• les mesures d’audience des différentes pages du site finance.femcreditconso.fr ;
• la présentation d’offres publicitaires ciblées en fonction des centres d’intérêts de chaque utilisateur ;
• le partage des contenus du site finance.femcreditconso.fr sur les réseaux sociaux au moyen des boutons de partage. L’utilisation de ces boutons, tels que « partager », « tweeter », entrainera la transmission des informations de l’utilisateur au réseau social concerné. Si l’utilisateur est connecté à un réseau social et navigue sur le site finance.femcreditconso.fr, le réseau social associera les informations collectées sur les cookies installés sur le site finance.femcreditconso.fr au compte de l’utilisateur. L’utilisateur peut se déconnecter du réseau social pour ne pas permettre l’association de ces données avec son compte.
Pour ces cookies, il sera demandé à l’utilisateur de consentir préalablement à leur installation et à leur utilisation au moyen d’un bandeau qui sera affiché sur le site finance.femcreditconso.fr.
L’utilisateur peut s’opposer à l’insertion des cookies en configurant les préférences du navigateur de son terminal de façon à ne plus les accepter. L’utilisateur peut également accepter ou refuser l’ensemble des cookies utilisés sur le site finance.femcreditconso.fr, en accédant aux paramètres de confidentialité dans son navigateur.
Propriété intellectuelle :
F E M est titulaire des droits sur tous les contenus (logo, texte ...) sur le site finance.femcreditconso.fr.
Toute reproduction totale ou partielle de ces éléments, sons le consentement écrit de F E M, est interdite.
Liens vers des sites tiers :
F E M peut être amené à mentionner des sites tiers dans ses publications ou son contenu. Par ailleurs, F E M ne se porte en aucun cas garant ou responsable des événements, contenus ou conditions d’utilisation/vente de ces sites. Ils sont mentionnés à titre d’information ou complément d’information. L’utilisateur est seul responsable de l’utilisation desdits liens.
Crédits :
Les photos et illustrations présentes sur le site finance.femcreditconso.fr sont tirées de sites libres de droit tels que pexels.
Réclamations :
Les réclamations de tout type sont à adresser à contact@financeetmoi.fr
Avertissements :
Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.
Responsabilités :
F E M propose aux utilisateurs du site finance.femcreditconso.fr et app.finance.femcreditconso.fr un contenu informatif concernant les crédits consommation, les crédits automobiles ou les regroupements de crédits et les assurances automobiles par des articles, des simulations pour définir un budget, des comparaisons de plusieurs offres afin de renseigner l’utilisateur et de lui permettre de se renseigner sur les pratiques des crédits consommation ou regroupements de crédits.
Ces informations sont fournies à titre indicatif, et en aucun cas le contenu présenté est définitif et ne prend pas la forme d’une offre finale de la part de nos partenaires bancaires et d’assurance.
L’évolution permanente des conditions de crédits, du marché plus globalement et des particularités de chaque dossier/projet ne permet pas à F E M de présenter des offrez définitives. F E M ne garantit donc en aucun cas l’exactitude des informations fournies.
De ce fait, pour tout préjudice subi, la responsabilité de F E M ou de l’un de ses partenaires ne pourra être recherchée au titre de l’information proposée sur le site finance.femcreditconso.fr ou app.finance.femcreditconso.fr, quelle que soit la forme de présentation de cette information.
Les simulations et les comparaisons des offres de banques et d’assurance fournies par F E M ne sont qu’à titre indicatif et ne représentent pas l’offre finale susceptible d’être proposée par les banques ou l’assurance après analyse approfondie du dossier.
L’offre définitive des partenaires bancaires et d’assurance sont proposées, par l’intermédiaire de F E M, suite à l’analyse approfondie du dossier et des pièces justificatives fournies par l’utilisateur pour un dossier de crédit (par exemple : justificatifs de revenu, justificatifs de domicile).
F E M ne pourra pas voir sa responsabilité pour tous dommages causés à l’utilisateur résultant du contenu, de l’accès, ou de l’utilisation du site finance.femcreditconso.fr et app.finance.femcreditconso.fr.
2- Données personnelles
Respect de la vie privée :
F E M a pour mission de trouver et négocier pour vous le meilleur financement que ce soit crédit consommation, crédit automobile affecté ou regroupement de crédit et assurance ou des solutions locatives (LOA, LLD). Pour ce faire, nous allons donc vous demander de nous communiquer des informations détaillées sur votre situation financière et votre projet. Ces données nous permettent d’identifier la meilleure offre pour vous auprès de nos partenaires bancaires et de leur présenter un dossier complet pour le bon fonctionnement de notre service. Aucune information, inutile à notre mission ne vous sera demandée.
Les banques auprès desquelles F E M présente votre dossier sont les suivantes : Cetelem, FLOA Banque, Franfinance et Cofidis, younted.
Pour information, sans votre accord :
• Nous ne transmettons aucune information aux banques
• Nous ne vendons et ne transmettons vos informations à aucun partenaire commercial
• Vous pouvez accéder à vos données et demander leur suppression à tout moment en soumettant votre demande à contact@financeetmoi.fr
Types de Données collectées
Le type de données personnelles collectées par F E M directement ou par le canal de tiers sont : adresse électronique, formulaire d’inscription, Cookies, prénom, nom de famille et date de naissance, situation familiale, situation professionnelle et situation patrimoniale.
Les Données personnelles sont soit fournies directement par l’Utilisateur ou collectées auprès de nos partenaires vendeurs
Pour information, toutes les informations demandées sont nécessaires pour le traitement des dossiers de financement et du bon fonctionnement de nos services.
Les Utilisateurs qui auraient des doutes sur les Données personnelles obligatoires sont invités à nous contacter à l’adresse contact@financeetmoi.fr.
Mode et lieu de traitement des Données :
Méthodes de traitement :
F E M prend toutes les mesures de sécurité nécessaires afin d’empêcher l’accès, la divulgation, la modification ou la destruction non autorisés des Données.
Les informations communiquées par l’utilisateur peuvent être accessibles à des services de F E M tels que les ventes, le marketing, l’analyse de crédit et le juridique. Ces données peuvent également être accessibles à des parties en dehors de F E M tout utilisateur peut demander la liste de ces sous-traintants.
Lieu de traitement :
Les Données sont traitées au siège de F E M et dans tous les autres lieux où sont situées les parties responsables du traitement.
Temps de conservation :
Les données et informations fournies par l’utilisateur sont conservées jusqu’à la finalisation du service pour lequel F E M a été mandaté.
Toutefois, F E M peut conserver ces données plus longtemps tant que l’utilisateur n’a pas retiré son consentement dans le seul but d’améliorer l’expérience et les offres de F E M. Les données peuvent être conservées jusqu’à 10 ans suite à la demande de financement.
Finalités du traitement :
Les Données relatives à l’Utilisateur sont collectées afin de permettre au Propriétaire de fournir ses Services, ainsi que pour les finalités suivantes : Marketing et partenariats, Amélioration de votre parcours, Infrastructure technique et hébergement, Relation client et suivi de dossier, Stockage et traitement des pièces justificatives, Inscription et authentification.
Toutes les données conservées seront utilisées pour améliorer les processus de F E M et l’expérience utilisateur.
F E M se donne le droit de partager ces informations à ses partenaires de manière anonyme pour les finalités suivantes : Marketing et partenariats, Amélioration de votre parcours. Ces données seront utilisées de manière totalement anonyme peuvent être les suivantes : Age, situation professionnelle, région/ville d’habitation et/ou de naissance, rémunérations, dépenses, nombre de personnes à charge, situation maritale. Les informations permettant l’identification ne seront jamais divulguées et resteront stockées chez F E M. À tout moment, l’internaute a la possibilité de demander à être retirées de toute les bases de données de F E M et de ses partenaires.
Ces données ne seront en aucun cas utilisées pour atteindre la personne concernée mais seulement pour l’étude de tendance, d’analyse et de ciblage.
Informations détaillées sur le traitement des
Données personnelles :
Les Données personnelles sont collectées pour les finalités à l’aide de plusieurs services liés à nos partenaires:
Optimisation du parcours client :
Les services que contient cette partie permettent au Propriétaire de surveiller et d’analyser le trafic Web et de suivre l’évolution du comportement de l’Utilisateur.
Google Analytics (Google Inc.)
Google Analytics est un service d’analyse de l’audience web fourni par Google Inc. (« Google »).
Données personnelles collectées : Cookies et Données d’utilisation.
Lieu de traitement : États-Unis – Politique de confidentialité.
Infrastructure technique et hébergement
Droits des Utilisateurs :
Les Utilisateurs de F E M ont le droit de :
• Accéder à leurs Données. Les Utilisateurs ont le droit de savoir si les Données sont traitées par le Propriétaire, d’obtenir des informations sur certains aspects du traitement et d’obtenir une copie des Données en cours de traitement.
• Retirer leur consentement à tout moment. Les Utilisateurs ont le droit de retirer leur consentement s’ils ont déjà donné leur consentement au traitement de leurs Données personnelles.
• S’opposer au traitement de leurs Données. Les Utilisateurs ont le droit de s’opposer au traitement de leurs Données si le traitement est effectué sur une base juridique autre que le consentement. Des précisions sont ajoutées dans la section correspondante ci-dessous.
• Vérifier et obtenir une rectification. Les Utilisateurs ont le droit de vérifier l’exactitude de leurs Données et de demander qu’elles soient mises à jour ou corrigées.
• Limiter le traitement de leurs Données. Les Utilisateurs ont le droit, sous certaines conditions, de limiter le traitement de leurs Données. Dans ce cas, le Propriétaire traitera leurs Données uniquement pour les stocker.
• Faire supprimer ou effacer leurs Données personnelles. Les Utilisateurs ont le droit, sous certaines conditions, d’obtenir l’effacement de leurs Données auprès du Propriétaire.
• Déposer plainte. Les Utilisateurs ont le droit de déposer une plainte auprès de leur autorité compétente en matière de protection des données.
Comment exercer ces droits
Concernant toute demande, il suffit de transmettre sa demande par mail à l’adresse contact@financeetmoi.fr. F E M s’engage à traiter cette demande dans un délai maximum d’un mois.
Informations supplémentaires sur le traitement et la collecte des Données
Informations non incluses dans la présente politique :
D’autres renseignements/informations concernant la collecte ou le traitement des Données personnelles peuvent être demandés au Propriétaire. Veuillez consulter les coordonnées figurant au début du présent document.
Modifications de la présente politique de confidentialité
Le Propriétaire se réserve le droit d’apporter des modifications à la présente politique de confidentialité, à tout moment, en informant ses Utilisateurs sur cette page et éventuellement dans cette Application ou – pour autant que cela soit techniquement et légalement possible – en envoyant une notification aux Utilisateurs par l’intermédiaire des coordonnées disponibles pour le Propriétaire. Il est fortement recommandé de consulter cette page fréquemment, en se référant à la date de la dernière modification indiquée en bas.
Si les modifications influencent les activités de traitement effectuées sur la base du consentement de l’Utilisateur, le Propriétaire doit recueillir un nouveau consentement de l’Utilisateur lorsque nécessaire.
Définitions et références légales :
Utilisateur :
La personne utilisant cette Application qui, sauf indication contraire, correspond à la Personne concernée.
Personne concernée :
La personne physique à laquelle les Données personnelles font référence.
Sous-traitant (ou Responsable des données) :
La personne physique ou morale, l’autorité publique, l’institution ou tout autre organisme qui traite les Données personnelles pour le compte du Responsable du traitement, tel que décrit dans la présente politique de confidentialité.
Responsable du traitement (ou Propriétaire) :
La personne physique ou morale, l’autorité publique, l’institution ou toute autre organisme qui, seul ou conjointement avec d’autres, détermine les finalités et les moyens du traitement de Données personnelles, y compris les mesures de sécurité concernant le fonctionnement et l’utilisation de cette Application. Sauf mention contraire, le Responsable du traitement est le Propriétaire de cette Application.
Cette Application :
Les moyens par lesquels les Données personnelles de l’Utilisateur sont collectées et traitées.
Service :
Le service fourni par cette Application comme décrit dans les conditions s’y rapportant (le cas échéant) et sur ce site/cette application.
Informations légales :
La présente politique de confidentialité a été préparée en exécution des dispositions de plusieurs législations, notamment de l’article 13/14 du règlement européen 2016/679 (règlement général sur la protection des données).
Cette politique de confidentialité concerne uniquement cette Application, sauf indication contraire dans le présent document.

    </div>

    {% block footer %}
    {% include "mqbaka_home/footer.html.twig" %}
    {% endblock %}
{% endblock %}
