{% extends 'base.html.twig' %}

{% block title %}politique_de_confidentialite{% endblock %}

{% block body %}

    {% block header %}
    {% include "mqbaka_home/header.html.twig" %}
    {% endblock %}

    <meta name="viewport" content="widht=device-widht , initial-scale=1.0">
        <link href={{ asset('css/stylesheet.css') }} rel="stylesheet">
        <link href={{ asset('css/colors.css') }} rel="stylesheet">
        <link href={{ asset('css/confid.css') }} rel="stylesheet">

    <div class="confid">
        <h1> PRESENTATION DE F E M </h1>
        <p> 
            F E M - Finance Et Moi, société au capital de 2 000€, dont le siège social est situé au 15, avenue d'Angers 79300 BRESSUIRE immatriculée au Registre du Commerce et des Sociétés de Niort sous le numéro 402 205 686.
        </p>
        <p>
            F E M - Finance Et Moi est hébergé par OVH dont le siège se situe au 2 rue Kellermann BP 80157, Roubaix CEDEX 1,
            <br>
            Tel : 06 85 41 84 56
            <br>
            Le directeur de la publication du site est Andriamanjaka RAMASONDRANO.
            <br>
            Contact : contact@financeetmoi.fr- 06 85 41 84 56
        </p>
        <p>
            F E M - Finance Et Moi est immatriculée au registre de l’ORIAS ( <a href="www.orias.fr">www.orias.fr</a> ) en tant que Courtier en opérations de banque et en services de paiement, sous le numéro 19001295, et soumise au contrôle de l’Autorité du Contrôle Prudentiel et de Résolution, et couverte par une assurance responsabilité civile professionnelle auprès de AIG.
            <br>
            F E M n’a aucun lien capitalistique, même minoritaire, ne détient aucun droit de vote ni participation, direct ou indirect, au capital d’une entreprise et/ou groupe d’assurance, une mutuelle ou un institut de prévoyance. De même, aucune entreprise et/ou groupe d’assurance, aucune mutuelle ou institut de prévoyance ne détient de droit de vote ou participation, direct ou indirect, au capital du Cabinet F E M. Le Cabinet F E M est la propriété de ses dirigeants.
        </p>
        <br>
        <h1>
            STATUTS
        </h1>
        <p>
            F E M est immatriculée au Registre Unique des Intermédiaires en Assurance, Banque et Finance (ORIAS) sous le n° 19001295 (Vous pouvez vérifier cette immatriculation sur le site internet ORIAS : <a href="https://www.orias.fr/welcome)">www.orias.fr/welcome</a>  au titre des activités réglementées suivantes :
            Mandataire d’intermédiaire  (IOBSP) : <br>
            En sa qualité d’intermédiaire en financement, son activité consiste à présenter, proposer, après analyse de vos besoins, ou aider à conclure un ou plusieurs contrats sélectionnés parmi les offres et produits provenant d’une ou plusieurs banques partenaires de ladite société. F E M ne fournit pas de service de recommandation personnalisée de « niveau II » au sens de l’article L. 522-5-II du code des assurances.
            Mandataire d’intermédiaire en opérations de banque et en services de paiement (MIOBSP): <br>
            Mandataire d’assurances (MA) : <br>
            Courtier en assurances : <br>
            F E M est un courtier en assurance. Il exerce son activité en proposant, après analysé les besoins de son client, un ou plusieurs contrats d’assurances sélectionnés parmi les offres et produits provenant d’une ou plusieurs compagnies d’assurance partenaires mais n'est pas en mesure de fonder son analyse sur un nombre suffisant de contrats d'assurance offerts sur le marché. F E M société n’est soumise à aucune obligation contractuelle d’exclusivité et peux, si vous le souhaitez, vous communiquer le nom des compagnies avec lesquelles elle travaille. A toutes fins utiles, il est précisé que F E M ne fournit pas de service de conseil mentionné à l’article L. 519-1-1 du Code Monétaire et Financier. <br>
            Courtier en opérations de banque et de services de paiement :

        </p>
        <br>
        <h1>
            ASSURANCES & GARANTIE FINANCIERE :
        </h1>
        <p>
            F E M dispose, conformément à la loi, d’une couverture en Responsabilité Civile Professionnelle A I G EUROPE et d’une Garantie Financière suffisantes couvrant ses différentes activités réglementées. <br>
            <br> PROTECTION DE LA CLIENTELE / TRAITEMENT DES RECLAMATIONS CLIENTS
            <br> F E M s’engage à apporter de manière permanente au client un service de qualité. Si toutefois le client rencontre des difficultés au niveau de la prestation délivrée et qu’il souhaite faire part de son mécontentement, F E M s’engage à :
            <ul>
                <li>
                    accuser réception de sa réclamation dans un délai de dix (10) jours ouvrables maximum à compter de la date de sa réception, sauf si la réponse elle-même est apportée au client dans ce délai.
                </li>
                <li>
                    traiter sa réclamation dans un délai de deux (2) mois maximum entre la date de réception de la réclamation et la date d’envoi de la réponse au client, sauf survenance de circonstances particulières dûment justifiées.
                </li>
            </ul>
            <br>
            En toute hypothèse, chaque réclamation sera traitée dans le cadre du processus d’escalade suivant :
            <br>
            1er Niveau de réclamation:
            <br>
            Quel que soit le canal d’arrivée de la réclamation formulée par le client, elle sera transférée à la personne qui est l’interlocuteur habituel du client. La réponse à la réclamation sera adressée par courrier, par email ou éventuellement par téléphone. Il sera précisé au client comment, le cas échéant, saisir le second niveau de réclamation si le mécontentement devait persister en dépit de la réponse apportée. F E M s'engage à accuser réception de la réclamation dans les 10 (dix) jours ouvrables suivant sa date de réception (sauf si la réponse à la réclamation est apportée dans ce délai) et à apporter une réponse à la réclamation au maximum dans les 2 (deux) mois suivant sa date de réception (sauf circonstances particulières dont le client sera alors tenu informé).
            <br>
            2ème Niveau de réclamation :
            <br>
            Si la réponse apportée par l’interlocuteur habituel du client au sein de F E M n’est pas jugée satisfaisante, le client peut – s’il le souhaite - demander à ce que sa réclamation soit étudiée de nouveau. Dans ce cas, c’est le responsable du processus de traitement des réclamations clients au sein du Cabinet F E M qui pourra être contacté et apportera une réponse écrite au client. Ce responsable pourra être contacté par email <strong> <i>contact@financeetmoi.fr</i> </strong> .
            <br>
            3ème Niveau de réclamation :
            <br>
            En l’absence de réponse dans les deux mois de sa réclamation initiale ou si le client n’est toujours pas satisfait de la suite donnée à sa réclamation par le niveau précédent, le client a la possibilité, à condition qu’aucune action judiciaire n’ait été engagée, de saisir gratuitement le médiateur par courrier (La Médiation de l’Assurance – Pôle CSCA – TSA 50110 - 75441 PARIS Cedex 09), par Email ( <strong> <i> le.mediateur@mediation-assurance.org </i> </strong> ) ou directement via le site internet <a href="www.mediation-assurance.org.">www.mediation-assurance.org.</a>  À la suite de l’envoi du dossier, le médiateur dispose de 21 jours pour déterminer l’éligibilité du dossier et, dans l’affirmative, l’instruction des pièces du dossier complet aboutit à un avis du médiateur au bout d’un délai maximum de trois (3) mois. Son avis ne s’impose pas et vous laissera toute liberté pour saisir éventuellement le Tribunal français compétent.
            <br>
            Lorsque l’assuré est un professionnel ou une entreprise, le médiateur ci-dessus n’étant pas compétent, une décision sera prise au cas par cas.
        </p>
        <br>
        <h1> REMUNERATION </h1>
        <p>
            Pour la distribution de tout contrat d’assurance et/ou tout contrat de crédit, F E M est rémunéré par une commission (dont le montant est inclus dans la prime d’assurance et/ou dans le coût du crédit) octroyée par la compagnie d’assurance et/ou l’établissement de crédit qui l’autorise à commercialiser le ou les produits d’assurance et/ou de financement proposés au client, et/ou tout autre avantage économique lié à la distribution dudit contrat d’assurance, soit une combinaison des rémunérations précitées, auxquels peuvent éventuellement s’ajouter des frais de gestion. De surcroît, des frais et/ou honoraires, dont le montant réel aura été communiqué au client préalablement à la signature du ou des contrats, peuvent également être facturés.
        </p>
        <br>
        <h1>
            UN CREDIT VOUS ENGAGE
        </h1>        
        <p>
            Aucun versement de quelque nature que ce soit ne peut être exigé d'un particulier avant l'obtention d'un ou plusieurs prêts d'argent.
            Un délai de réflexion de 10 jours est à respecter par l'emprunteur avant de retourner les offres de prêts.
            Conformément à l'article L321-2 du code de la consommation "La vente est subordonnée à l'obtention du prêt. Dans le cas contraire, le vendeur devra rembourser les sommes versées par l'emprunteur".
            Un crédit vous engage, doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager
        </p>
    </div>

    {% block footer %}
    {% include "mqbaka_home/footer.html.twig" %}
    {% endblock %}
{% endblock %}
