<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Facture FEM</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <style>
            .contentcontainer{
                font-family: Montserrat;
            }
        </style>
    </head>
    <body>
        <div class="contentcontainer">
            <div style="text-align:center; margin-top:39px; margin-bottom:39px;">
                <img src="https://femcreditconso.fr/images/icon/favicon.png" alt="">
            </div>

            <h2 style="text-align:center;">Votre facture abonnement FEM</h2>

            <p style="text-align:center;">Veuillez voir en pièce-jointe la facture relative à l'abonnement !!!!</p>
        </div>
    </body>
</html>