{# <img src="" alt=""> #}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<style>
    p#p a{
        font-family: Montserrat!important;
    }
</style>
<h1 style="color: #1c9fd9; font-family: Montserrat">Bonjour,</h1>

<p style="color: #203c76; font-family: Montserrat">Cliquez sur le lien suivant pour réinitialiser votre mot de passe.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p id="p" style="color: #203c76; font-family: Montserrat!important">Ce lien va expirer dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p style="color: #203c76; font-family: Montserrat">A bentôt sur FEM !</p>
