.main{
  padding: 50px;
  margin: 50px
}

/*.titre{
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 20px; 
  margin: 15px;
  margin-left: 50px;
  margin-bottom: 1em;
}

.titre img{
  height:20em;
  padding-left: 8em;
  width: unset
}

.titre-content{
  color: #203c76;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5em;
  line-height: 1.7em;
  padding: 2em;
  padding-top: 0.50em
}

*/

.titre-image{
  text-align: center;
}

.titre-image img{
  padding: 10em;
  padding-top: -0em;
  padding-bottom: 0em;
  width: 100%;
}

.titre-content{
  color: #203c76;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.7em;
  padding:9em;
  padding-top: -0em;
  padding-bottom: 1.5em;
  text-align: center;
}

.titre-2{
  width: max-content;
  margin: auto;
  margin-top: 2em;
}

.titre-2-contenu{
  border-radius: 5em;
  background-color: #203c76;
  color: #fefefe;
  font-weight: bold;
  padding: 1.5em;
}

.intro{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
  margin: 20px;
  grid-gap: 2em;
}

.image img{
  width: 100%;
  border: 0.5px aliceblue solid ;
  border-radius: 20px 
}

.image #img-drt{
  margin: 1em;
}

.prendmamain{
  align-items: center;
  align-content: center;
}

.prendmamain-container{
  border:  1px solid;
  border-color: blue;
  border-radius: 20px;
  color: #265baa;
  font-size: 20px;
  padding: 1em 1em;
  margin: 1em;
}

.txt-gauche{
  z-index: 1;
  background-color: transparent;
}

#simpa{
  display: flex;
}

#simpa-content{
  margin: auto;
}

.h1{
  font-size: 28px;
  text-align: center;
  color: var(--light-01);
}

.p-contenue ul{
  list-style: none;
  padding:0;
}
.p-contenu ul li{
  display: grid;
  grid-template-columns: 2em auto;
  margin-top :1em;
  margin-bottom: 1em;
}

.p-contenu ul li span img{
  padding: 0;
  height: 1em;
  width: unset;
}

.fem-avt{
  margin: 1em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.avt-row{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto auto;
  
}

.avt-1{
  border:  1px solid;
  border-radius: 15px;
  color: #265baa;
  padding: 1em;
  padding-bottom: 2em;
  line-height: 1.5em
}

.avt-titre{
  margin: .6em;
  font-size: 24px;
  font-weight: 750;
  color: #1c9fd9;
  text-align: center;
}

.gridcheck img{
  padding: 0;
  height: 1.5em;
  margin-left: 2em;
  width: unset;
}
.para2{
  text-align: center;
}


.avt-1:hover {
  background-color: #203c76;
}

.avt-1:hover *{
  background-color: #203c76;
  color: #f5f5ff;
}

.btn-parti{
  text-align: center;
}

#adapte{
  margin: 1em 10em;
  height: 18em;
  border: 0.5px aliceblue solid;
  border-radius: 20px;; 
}

#adapte-contenue{
  height: 15em;
  padding: 1.5em;
}

#charge{
  width: 25em;
  padding: 1em;
  margin: 1em 3.5em;
}

#charge-contenue{
  width: 100%;
  height: 20.5em;
  margin: 1em;
  display: flex;
}

#img-drt1{
  margin: 1em;
  padding: 2em
}

/******************
***** footer1 *****
******************/

.lecredit img{
  width: 100%;
}
.paraghaphe{
  padding: 1.3em;
  font-size: 24px;
  color: var(--dark-01);
}

.titre-3 .ttr{
  font-weight: bold;
  margin: 2em 5em;
  text-align: center;
  color: var(--light-01);
  font-size: 24px;
}
.ensavoirplus{
  text-align: center;
  padding-bottom: 1.5em;
}

.image6{
  width: 100%;
}


.titre2{
  color: var(--light-01);
  text-align: center;
}
.grid-container6 {
  display: grid;
  grid-template-columns: 25% auto;
  padding: 71px 100px;
}
.grid-container6 > div {
  
  text-align: center;
  padding: 20px 0;

}

.button1 {
    padding: 14px;
    border-radius: 49px;
    background-color: var(--light-01);
    color: white;
    border-width: 0px;
    margin: auto;
    cursor: pointer;
}
.grand_border{
    border-radius: 20px 20px;
    border-style: solid;
    border-width: 1px;
    margin: 0 49px 0px 49px;
    color: var(--dark-01);
    padding: 10px;
}

#grand_border_2{
  margin-top: 2em;
}

.grid1{
  display: grid;
  grid-template-columns: 35% 35% 35%;
  padding: 0px 100px;
}
.grid1 > div {
  
  text-align: center;
  padding: 20px 0;

}
.imggrid{
  width: 50%;
}
#franfinance2{
  display: none;
}
.grid2{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0px 200px 1em;
}
.grid2 > div {
  text-align: center;
  padding: 20px 0;
}
.petit_titre{
  color: var(--light-01);
  text-align: center;
  padding: 20px;
font-size: 26px; 
}
.titre3{
  text-align: center;
  color: var(--light-01);
}

.tt{
  text-align: center;
  color: var(--light-01);
  margin: 56px px;
}
.grid3{
  display: grid;
  grid-template-columns: 20% 80% ;
  padding: 0px 200px;
}
.grid3 > div {
  
  text-align: center;
  padding: 20px 0;

}
.bordercapture{
  border-radius: 20px 20px;
  border-style: solid;
  border-width: 1px;
  padding: 23px;
  margin: 2.5em 0px;
color: var(--dark-01);
}

.paraghaphe2{
  font-size: 19px;
  color: var(--dark-01);
}
.image7{
  width: 100%;
}
.bordercapture2{
  border-radius: 20px 20px;
  border-style: solid;
  border-width: 1px;
  padding: 23px;
  color: var(--dark-01);
  margin: 0em 30em 0em 6em;
}
.button2{
padding: 14px;
border-radius: 49px;
background-color: var(--light-01);
color: white;
border-width: 0px;
width: 151px;
margin-left: 1000px;
}
.section{
  margin: 0px 100px;
}
.para1{
  color: var(--dark-01);
  font-size: 25px;
  margin: 1em 20px;
  text-align: center;
}
.para2{
    color: var(--dark-01);
    font-size: 20px;
    margin: 5px 25px;
}
.gridcheck{
  display: grid;
  grid-template-columns: auto 90%;
  padding: 0px 200px;
}

.gridcheck > div {
  
  padding: 20px 0;

}
.para3{
  font-size: 20px;
  color: var(--light-01);
  text-align: left;
}
.gridimage{
    display: grid;
  
  grid-template-columns: auto auto auto;
  padding: 0px 180px;
}
.gridimage > div {
  
  text-align: center;
  padding: 20px 0;

}
.img {
    width: 75%;
    padding: 20px;
}

@media only screen and ( max-width: 1300px){
  .titre-content {
      color: #203c76;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.7em;
      padding-top: 2em;
      padding-top: 0.50em;
      background-color: transparent;
  }
  
  .prendmamain-container{
    border: 1px solid;
    border-color: blue;
    border-radius: 20px;
    color: #265baa;
    font-size: 18px;
    padding: 1em;
  }
  #adapte {
    margin-left: 4em;
    width: 15em;
  }
  
  #adapte-contenue {
    margin-top: unset;
  }
  
  #charge {
    margin-left: 4em;
    margin-top: 5.7em;
  }
  
  #charge-contenue {
    margin-top: unset;
  }
}

@media only screen and ( max-width: 1150px)
{
  .grid3
  {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0px 125px;
  }
  .paraghaphe2
  {
    font-size: 17px;
    color: var(--dark-01);
  }
  .bordercapture2
  {
    border-radius: 20px 20px;
    border-style: solid;
    border-width: 1px;
    padding: 23px;
    color: var(--dark-01);
    margin: 0em 19em 0em 5em;
  }

  .tt{
    text-align: center;
    color: var(--light-01);
    font-size: 25px;
  }
  
  .paraghaphe {
    font-size: 20px;
  }

  .titre-3 .ttr {
    font-size: 26px;
  }

  .para2{
    color: var(--dark-01);
    font-size: 20px;
    margin: 5px 25px;
  }
  .para3 {
    font-size: 19px;
    color: var(--light-01);
    text-align: left;
  }
  .nos
  {
    font-family: 25px;
    font-weight: 500;
  }

}



@media only screen and ( max-width: 1000px)
{
  .main{
    padding: unset;
    margin: 5px;
  }

  .nos
  {
    font-family: 25px;
    font-weight: 500;
  }

  #charge {
    margin: 0;
  }
}


@media only screen  and ( max-width: 750px)  {

  .titre-content {
    color: #203c76;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4em;
    padding-top: 2em;
    padding-top: 0.50em;
    background-color: transparent;
  }

  .intro {
    display: grid;
    grid-template-columns: 100%;
    padding: 20px;
    margin: 20px;
  }

  #img-drt1 {
    margin: 1em;
    padding: 2em;
  }

  #img-drt {
    margin: 1em;
    padding: 2em;
  }

  .h1{
    font-size: 26px
  }

  #charge{
    margin: 1em;
    padding: 2em;
  }

  .avt-row {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 100%;
}

  .grid-container6 {
    display: grid;
    grid-template-columns: 25% auto;
    padding: 15px 100px;
  }

  .paraghaphe {
    font-size: 16px;
    padding: 1em;
    margin-bottom: 1em;
  }

  .paraghaphe2 {
    font-size: 15px;
    color: var(--dark-01);
  }

  .titre-3 .ttr {
    font-size: 20px;
  }
  .grid1 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px 20px;
  }

  .grid2 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 150px;
  }

  .grid3 {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0px 50px;
  }

  .grand_border{
    margin: 0px 50px 0px 50px;
  }
  .bordercapture {
    padding: 15px;
    margin: 1em 0px;
  }
  
  .bordercapture2 {
    margin: 0em 13em 0em 5em;
    padding: 23px;
    text-align: center;
  }

  .nos1{ 
    font-size: 20px;
  }

  .para1 {
    color: var(--dark-01);
    font-size: 20px;
    margin: 1em 0px;
    text-align: center;
  }

  .para2 {
    color: var(--dark-01);
    font-size: 18px;
    margin: 5px 30px;
  }

  .full-blue, .not-so-full-blue{
    font-size: 1em;
  }

  .gridimage {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px 100px;
  }

  .gridcheck {
    display: grid;
    grid-template-columns: auto 90%;
    padding: 0px 50px;
  }

}

@media only screen and ( max-width: 650px ){
  .titre-2 {
    width: 100%;
    margin: auto;
    margin-top: 2em;
    text-align: center;
  }

  .titre-2-contenu{
    padding: 1em;
  }

  .h1{
    font-size: 25px
  }

  .gridcheck > div {
    padding: 10px 10px;
  }
  .img {
    width: 75%;
  }
  .nos1 {
    font-size: 16px;
  }
  .para1 {
    font-size: 16px;
  }

  .para2 {
    font-size: 16px;
    margin: 5px;
  }
  .para3 {
    font-size: 17px;
  }
  .gridimage {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 550px){
  .main {
    padding: 5px;
    margin: 5px;
  }
  .titre-image img {
    padding: 5em;
    padding-top: 0em;
    padding-bottom: 0em;
    width: 100%;
  }
  .titre-content {

    color: #203c76;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.4em;
    padding: 3em;
    padding-top: 0.50em;
    background-color: transparent;
  }

  .h1{
    font-size: 24px
  }
  
  .prendmamain-container {
    color: #265baa;
    font-size: 16px;
    line-height: 1.4em;
  }

  .grid-container6 {
    display: grid;
    grid-template-columns: 100%;
    padding: 15px 10px;
  }

  .lecredit img {
    width: 30%;
    margin-bottom: -1.5em;
  }

  .grid3 {
    display: grid;
    grid-template-columns: 100%;
    padding: 0px 50px;
  }

  .image7 {
    width: 25%;
    margin-bottom: -2em;
    margin-top: -1.5em;
  }

  .bordercapture2 {
    margin: 0em 3em;
    padding: 23px;
    text-align: center;
  }

  .section {
    margin: 0px 20px;
  }
  .gridimage{
    padding: 0px 10px;
  }

  grand_border {
    margin: 0px 15px;
  }

  .grid1 {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 3px 0px;
      margin-top: -2em;
  }

  .grid2{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 5em;
    margin-top: -3.5em;
  }
  
  .grand_border {
    margin: 0px 45px;
  }
  

}

@media only screen and ( max-width: 450px)
{
  .main{
    padding: 0;
    margin: 1.5em;
  }

  #img-drt1{
    margin: auto;
    padding: 0;
  }

  #charge{
    margin: 0px;
    padding: 2em;
    width: 100%;
  }

  .nos1 {
    font-size: 14px;
  }

  .grand_border {
    border-radius: 20px 20px;
    border-style: solid;
    border-width: 1px;
    margin: 0px 30px;
    color: var(--dark-01);
    padding: 6px;
  }

  .gridcheck {
    display: grid;
    grid-template-columns: auto 90%;
    padding: 0px 0;
  }

  .gridcheck > div {
    padding: 7px 3px;
    /*margin-left: -5px;*/
  }

  .para3{
    margin-left: 5px;
  }

  .gridcheck img {
    padding: 0;
    height: 1.1em;
    margin-left: 1em;
    width: unset;
  }

  .titre-3 .ttr {
    font-weight: normal;
    font-size: 16px;
    margin: 1em 1em;
    text-align: center;
    color: var(--light-01);
  }

  .para1 {
    font-size: 15px;
    margin: 1em 0;
  }
  
  .para2 {
    color: var(--dark-01);
    font-size: 14px;
    margin: 6px;
  }

  .para3 {
    font-size: 15px;
    color: var(--light-01);
    text-align: left;
  }

  .bordercapture {
    padding: 16px;
    margin: 1em 0px;
  }

  .bordercapture2 {
    margin: 0 auto 2em;
    padding: 23px;
    text-align: center;
  }

  .full-blue, .not-so-full-blue {
    border: none;
    padding: 0.8em 2em;
    border-radius: 50px;
    color: var(--white--ish-01);
    transition: .4s;
    cursor: pointer;
  }

  .petit_titre {
    color: var(--light-01);
    text-align: center;
    padding: 30px;
    font-size: 15px;
  }

  .grid1 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 3px 0px;
    margin-top: -2em;
  }

  .grid2 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 5em;
    margin-top: -1.5em;
  }

  .grid3 {
    display: grid;
    grid-template-columns: auto;
    padding: 0;
  }

  .h1{
    font-size: 14px;
  }

  .grand_border {
    border-radius: 20px 20px;
    border-style: solid;
    border-width: 1px;
    margin: 0px auto;
    color: var(--dark-01);
    padding: 6px;
  }

  .img{
    width: 100%;
    padding: 12px;
  }

  .intro{
    margin: auto;
    padding: unset;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .titre-image img{
    padding: unset;
    padding-bottom: 1em;
    width: 100%;
  }

  .titre-content{
    padding: unset;
    margin: auto;
    font-size: 12px;
    margin-bottom: 1em;
  }

  .avt-titre{
    margin: auto;
    font-size: 20px;
  }

  #adapte-contenue{
    height: auto;
  }

  #charge-contenue{
    height: auto;
  }
  
  .prendmamain-container{
    margin: auto;
    font-size: 12px;
  }

  .image #img-drt {
    margin: unset;
  }

  #img-drt{
    margin: auto;
    padding: unset;
  }

  #adapte {
    width: 50%;
    margin: auto;
    display: flex;
  }

  .fem-avt{
    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 2.5em
  }

  #charge {
    margin: auto;
    padding: 2em;
    width: 100%;
  }

  /* ul li span{
    font-size: 12px
  } */

}

@media only screen and ( max-width: 325px ){
  .titre-content{
    font-size: 10px;
    line-height: 1.4em;
    padding: 1em;
  }

  .titre-2-contenu{
    font-size: 12px;
  }

  .avt-titre{
    font-size: 13.5px;
  }

  .intro{
    padding: 1px;
    margin: 5px;
  }

  .prendmamain-container{
    font-size: 13px;
  }

  .fem-avt{
    margin: 1px;
  }

  .petit_titre{
    padding: 5px;
  }

  .grand_border {
    margin: 0px 5px;
  }

  .titre-3 .ttr{
    margin: 1em 5px;
  }

  .grid3{
    padding: 0px 5px;
  }

  .bordercapture2{
    margin: 0px 5px;
  }

  .paraghaphe2{
    font-size: 13px;
  }
  .nos1{
    font-size: 18px;
  }

  .para1{
    font-size: 17px;
  }

  .para2{
    font-size: 17px;
    margin: 5px 10px;
  }

  .para3{
    font-size: 15px;
    margin-left: -5px;
  }
  
  .section{
    margin: 0px 1px;
  }

  .gridcheck{
    padding: 0px 1px;
  }

  #img-drt {
    margin: 1em;
  }

  #charge{
    margin: 0em;
    padding: 0em;
    width: 100%;
  }
}