*{
    --side-width: 350px;
    --slide-duration: .4s;
}

.dash-outliner{
    min-height: 100vh;
    display: grid;
    grid-template-rows: max-content auto;
}

.dash-container{
    display: grid;
    grid-template-columns: 0 auto;
    column-gap: 0;
    transition: var(--slide-duration);
}

.dash-container.sidebared{
    transition: var(--slide-duration);
    grid-template-columns: var(--side-width) auto;
    column-gap: 1em;
}

.sub-accounts{
    padding-bottom: 2em;
}

.mobile-ham{
    position: fixed;
    left: 1em;
    top: calc(var(--header-height) + 1em);
    z-index: 8;
    width: 2em;
    height: 2em;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: var(--slide-duration);
}

.mobile-ham .ham-line{
    background: var(--blue-01);
    transition: var(--slide-duration);
}


.none-is-here{
    margin: auto;
}
.create-sous{
    display: flex;
    gap: 1em;
    text-decoration: none;
    background: var(--blue-01);
    color: var(--white--ish-01);
    align-items: center;
    width: max-content;
    padding: 1em 2em;
    margin: auto;
    margin-top: auto;
    margin-top: 1.5em;
    border-radius: 4px;
    position: relative;
    z-index: 3;
    overflow: hidden;
}
.create-sous img, .ajout img{
    width: 2em;
}
.create-sous::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    background: var(--dark-01);
    content: "";
    height: 100%;
    z-index: -1;
    transition: .4s;
}
.create-sous:hover::after{
    width: 100%;
    transition: .4s;
}

.iF{
    width: 100%;
    height: 600px;
}

.Tabcontent{
    padding: 2em;
}

.content-title{
    color: var(--dark-01);
}

.invisible{
    display: none;
}

.bordur{
    transition: .4s;
}

.bordur:hover{
    transform: scale(1.01);
    transition: .4s;
}

.bordur *:not(.pointer){
    pointer-events: none;
}

.previous{
    position: absolute;
    color: #13141d;
    margin-left: 3vw;
    bottom: 50px;
    cursor: pointer;
    height: 70.7107px;
    width: max-content;
    display: flex;
    align-items: center;
}

.chevron-left{
    position: absolute;
    transform: rotate(45deg);
}
.chevron-border{
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border-left: 16px solid black;
    border-bottom: 16px solid black;
}

.content-title{
    width: max-content;
    margin: auto;
}

.link-pen{
    height: 1.2em;
    margin-left: .8em;
}

.sub-accounts a:not(.create-sous) {
    text-decoration: none;
    color:  var(--blue-01);
    padding: .5em .3em;
    position: relative;
}

.sub-accounts a:not(.create-sous)::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
    width: 0;
    height: 3px;
    transition: .4s;
    background: var(--blue-01);
}

.sub-accounts a:hover::after{    
    width: 100%;
    transition: .4s;
}

.sousCompteLink {
    padding: 20px 15px 0px 15px;
}

@media only screen and (min-width: 961px){
    .mobile-ham{
        display: none!important;
    }
}

@media only screen and (max-width: 960px){
    .dash-container.sidebared{
        grid-template-columns: 0 auto;
        column-gap: 0;
    }
    .hamburger-container{
        display: none!important;
    }
    .drop-d-icon{
        margin-left: auto;
    }
    .sidebarMenu.expanded{
        width: max-content;
        z-index: 7;
        animation: slide var(--slide-duration) ease-in-out;
        min-width: 339.25px;
    }
    .mobile-ham.expanded .ham-line{
        background: var(--white--ish-01);
    }
    .mobile-ham.expanded{
        left: calc(var(--side-width) - 3em);
    }
    .mobile-ham.expanded .ham-line:nth-child(1),
    .mobile-ham.expanded .ham-line:nth-child(2){
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%) rotate(45deg);
    }

    .mobile-ham.expanded .ham-line:nth-child(2){
        transform: translate(0, -50%) rotate(-45deg);
    }

    .mobile-ham.expanded .ham-line:nth-child(3){
        opacity: 0;
    }
}

@keyframes slide{
    from{
        transform: translate(-100%);
    }
    to{
        transform: translate(0);
    }
}

@media only screen and (max-width: 450px){
    .none-is-here{
        font-size: .8em;
    }
}

@media only screen and (max-width: 350px){
    *{
        --side-width: 300px;
    }
    .sidebarMenu.expanded{
        width: 300px;
    }
}