.grid-container {
  display: grid;
  
  grid-template-columns: auto auto;
  padding: 0px 100px;
}
.grid-container > div {
  
  text-align: center;
  padding: 20px 0;

}
.titre{
  color: var(--dark-01);
  margin-top: 175px;
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px 100px;
}
.border{
z-index: 1;
background: transparent;
}
.image{
width: 100%;
margin-left: -65px;
margin-top: 113px;
}
.text_interne{
  border-radius: 20px 20px;
   border-style: solid;
border-width: 1px;
margin: 4%;

}
hr{
  margin: 37px 213px;
  color: var(--light-01);
}
h3{
  color: var(--light-01);
  text-align: center;
}
.nike{
  color: var(--light-01);
}
.grid{
  display: grid;
  grid-template-columns: 10% auto;
}
.marge{
      margin: 4%;
}
.grid-container3 {
  display: grid;
  grid-template-columns: auto 60%;
  padding: 40px 100px;
}
.border2{
z-index: 1;
background: transparent;
margin-top: -87px;
}
.image2{
  width: 126%;
margin-top: 113px;
margin-top: 23px;
}
.text_interne2{
  border-radius: 20px 20px;
border-style: solid;
border-width: 1px;
margin: 9%;
}
.grid-container4 {
  display: grid;
  
  grid-template-columns: auto auto;
  padding: 0px 100px;
}
.image3{
  width: 100%;
margin-left: -65px;
margin-top: 69px;
}
.grid-container5 {
  display: grid;
  
  grid-template-columns: auto auto;
  padding: 0px 100px;
}
.image4{
  width: 126%;
margin-top: 113px;
margin-top: 23px;
}
.border3{
z-index: 1;
background: transparent;
margin-top: 118px;
}