.grandtitre{
	color: var(--light-01);
	text-align: center;
	margin: 35px;
	font-size: 46px;
}
.grid-container{
	  display: grid;
  grid-template-columns: auto auto;
  padding: 40px 100px;
}
.image{
	width: 100%;
}
.para1{
	font-size: 20px;
	color: var(--dark-01);
	margin: 0px 10px 0px 132px;
}
.para2{
	font-size: 20px;
	padding-top: 126px;
	color: var(--dark-01);
	margin: 0px 10px 0px 132px;
}
.grid-container2{
	  display: grid;
  grid-template-columns: auto 30%;
  padding: 40px 100px;
}
.border{
	border-radius: 20px 20px;
   border-style: solid;
border-width: 1px;
margin: 4%;
color: var(--dark-01);
padding: 5px;
background: #ffffff82;
}
.para3{
	padding: 10px;
	background: #ffffff82;
}
.section{
	z-index: 1;
	background: transparent;
}
.sous-border{
	padding: 38px;
	background: #ffffff03;
}
.image2{
	width: 100%;
margin-top: 559px;
}
hr{
	margin: auto;
    width: 50%;
    border-top: 1px;
	color: var(--dark-01);
}

.grid-container3{
	  display: grid;
  grid-template-columns: 30% auto;
  padding: 40px 100px;
}
.border1{
	border-radius: 20px 20px;
   border-style: solid;
border-width: 1px;
margin: 4%;
color: var(--dark-01);
padding: 5px;

}
.para4{
	padding: 10px;;
}
.section1{
background: transparent;
}
.sous-border1{
	padding: 38px;
}
.image3 {
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 150px;
}

@media (max-width: 750px){
	.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 40px 50px;
}
.para2 {
    padding-top: 16px;
}
.grid-container2 {
    display: grid;
    grid-template-columns: auto;
    padding: 0px 50px;
}
.image2 {
    width: 90%;
    margin: auto;
    display: block;
}
.image3 {
	width: 50%;
    display: block;
    margin: auto;
    position: initial;
}
.border1{
	margin-top: 0px;
}
.grid-container3 {
    display: grid;
    grid-template-columns: auto;
    padding: 0px 50px;
}
}
@media (max-width: 500px){
	.para1{
		margin: auto;
	}
	.para2{
		margin: auto;
	}
}
