.image6{
width: 100%;
}
.titre2{
  color: var(--light-01);
  text-align: center;
}
.grid-container6 {
  display: grid;
  
  grid-template-columns: auto auto;
 padding: 71px 100px;
}
.grid-container6 > div {
  
  text-align: center;
  padding: 20px 0;

}
.paraghaphe{
  font-size: 30px;
margin: 39px 79px 23px;
color: var(--dark-01);
}
.button1{
padding: 14px;
border-radius: 49px;
background-color: var(--light-01);
color: white;
border-width: 0px;
width: 151px;
margin-left: 386px;
}
.grand_border{
    border-radius: 20px 20px;
border-style: solid;
border-width: 1px;
margin: 0px 49px 0px 49px;
color: var(--dark-01);
padding: 10px;
}
.grid1{
  display: grid;
  
  grid-template-columns: auto auto auto;
  padding: 0px 100px;
}
.grid1 > div {
  
  text-align: center;
  padding: 20px 0;

}
.grid2{
  display: grid;
  
  grid-template-columns: auto auto ;
  padding: 0px 200px;
}
.grid2 > div {
  
  text-align: center;
  padding: 20px 0;

}
.petit_titre{
  color: var(--light-01);
  text-align: center;
  padding: 29px;
}
.titre3{
  text-align: center;
  color: var(--light-01);
}
.tt{
  text-align: center;
  color: var(--light-01);
  margin: 56px 80px;
}
.grid3{
  display: grid;
  
  grid-template-columns: auto auto ;
  padding: 0px 200px;
}
.grid3 > div {
  
  text-align: center;
  padding: 20px 0;

}
.bordercapture{
border-radius: 20px 20px;
border-style: solid;
border-width: 1px;
padding: 23px;
margin: 125px 0px 0px 166px;
color: var(--dark-01);
}
.paraghaphe2{
  font-size: 19px;
  color: var(--dark-01);
}
.image7{
  width: 100%;
}
.bordercapture2{
  border-radius: 20px 20px;
border-style: solid;
border-width: 1px;
padding: 23px;
color: var(--dark-01);
margin: 0px 500px 0px 50px;
}
.button2{
padding: 14px;
border-radius: 49px;
background-color: var(--light-01);
color: white;
border-width: 0px;
width: 151px;
margin-left: 1000px;
}
.section{
  margin: 0px 100px;
}
.para1{
      color: var(--dark-01);
    font-size: 25px;
    margin: 0px 205px;
}
.para2{
      color: var(--dark-01);
    font-size: 20px;
    margin: 5px 250px;
}
.gridcheck{
   display: grid;
  
  grid-template-columns: auto 90%;
  padding: 0px 200px;
}
.gridcheck > div {
  
  padding: 20px 0;

}
.para3{
  font-size: 20px;
  color: var(--light-01);
  text-align: left;
}
.gridimage{
    display: grid;
  
  grid-template-columns: auto auto auto;
  padding: 0px 180px;
}
.gridimage > div {
  
  text-align: center;
  padding: 20px 0;

}
.img{
  width: 50%;
}