body{
    color: var(--dark-01);
}

h1{
    margin: 1em 0
}

.cgu{
    margin: auto;
    padding: 0 5em
}

.p{
    margin: 1em 0 1em 1em
}

#p_zah{
    margin: 1em 0 1em 1em;
  }

.ul_cookies{
    margin-left: 3em;
    list-style-type: square;
}

.ul_cookies li{
    line-height: 1.5em;
}

@media only screen and ( max-width: 920px){
    .cgu{
      padding: 3em;
    }
  }
  
  @media only screen and ( max-width: 700px ){
    .cgu{
      font-size: 12px
    }
  }
  @media only screen and ( max-width: 500px ){
    .cgu{
      font-size: 11px
    }
  }
