*{
    --dark-01: #203c76;
    --dark-01-half: #203c7688;
    --light-01: #1c9fd9;
    --light-01-half: #1c9fd922;
    --bg--01: #f5f5ff;
    --bg--02: #fff;
    --white--ish-01: #fefefe;
    background-color: var(--bg--02);
}
