body{
    color: var(--dark-01);
}

.confid{
    margin: auto;
    padding: 0 5em
}

h1{
    margin: 1em 0;
}

p{
    margin-bottom: 1em;
}

@media only screen and ( max-width: 920px){
    .confid{
      padding: 3em;
    }
  }
  
  @media only screen and ( max-width: 700px ){
    .confid{
      font-size: 12px
    }
  }
  @media only screen and ( max-width: 500px ){
    .confid{
      font-size: 11px
    }
  }