.main-content{
    margin: 5em;
    color: #203c76;
    display: grid;
    grid-template-columns: 30em 60em;
}

.main-content p{
    margin-left: 1.5em;
    margin-bottom: 2em;
}

body{
    overflow-x: hidden;
}


.h1{
    font-size: 28px;
    margin-bottom: 1.5em;
}

.h2{
    font-size: 24px;
    margin: 1.6em 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}

.contact-input {
    width: 100%;
    border: none;
    color: var(--dark-01);
    border-bottom: 1px solid var(--dark-01);
}

.contact_submit{
    float: right;
    width: 10em;
    margin: 1.5em 6em;
    border: none;
    border-radius: 9px;
    background-color: var(--dark-01);
    color: var(--bg--02);
    padding: 10px;
    display:flex;
    justify-content:center;
    gap:10px;
    align-items: center;
}

.fuse{
    background-color: var(--dark-01);
    width: 1.5em;
}

.sary22{
    width: 100%;
}

.form-groupe{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2%
}

.form-groupe-1{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%
}

@media only screen and (max-width: 1000px){
    .main-content{
      display: grid;
      grid-template-columns: auto;
      margin: 3em;
    }
    
    .form-groupe{
      grid-template-columns: auto;
      gap: 2em
    }
    .form-groupe-1{
      grid-template-columns: auto;
      gap: 2em
    }
  }
  
  @media only screen and (max-width: 450px){
    .main-content{
      margin: 1em
    }
  }