.mail, .phone{
    color: var(--dark-01);
    display: flex;
    align-items: center;
    gap: .5em;
}

.header-top-bar{
    display: grid;
    grid-template-columns: 18em auto;
    gap: 2em;
    width: 100%;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    padding: 2.5em 3em 1.5em;
    top: 0;
    transition: .4s;
    z-index: 2;
}

.header-top-bar.shrinked{
    grid-template-columns: 13.5em auto;
    padding: .8em 3em .4em;
    transition: .4s;
    box-shadow: 0 5px 5px 0 #2223;
    align-items: center;
}

.header-top-bar.shrinked.compact{
    box-shadow: none;
    position: static;
}

.header-top-bar.shrinked .contact-stuff{
    display: none;
}

.header-top-bar.shrinked.compact .contact-stuff{
    display: flex;
    font-size: .8em;
}

.header-top-bar.shrinked.compact .header-things{
    height: 100%;
}

.logo img{
    width: 100%;
}

.header-things{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.nav-bar{
    width: 100%;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.contact-stuff{
    display: flex;
    gap: 2em;
}

.contact-stuff img{
    width: 1.5em;
}

.list-item a{
    text-decoration: none;
    color: var(--light-01);
}

.list-item a:hover{
    color: var(--dark-01);
}

.hero{
    width: 100%;
}
.hero img{
    width: 100%;
}

.hamburger, .cross{
    display: none;
    width: 2.7em;
    height: 2.5em;
    cursor: pointer;
}

.invisible{
    display: none!important;
}

.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
}

.hamburger .layer{
    background: var(--dark-01);
    width: 100%;
    height: 10px;
    border-radius: 4px;
}

.cross{
    flex-direction: column;
    position: relative;
    margin-left: auto;
}

.cross .lines{
    width: 100%;
    height: 10px;
    background: var(--dark-01);
    position: absolute;
    top: 50%; left: 0;
    transform: translate(0, -50%) rotate(45deg);
}

.cross .lines+.lines{
    transform: translate(0, -50%) rotate(135deg);
}

@media only screen and (max-width: 1200px){
    .header-top-bar{
        position: relative;
    }
    .menu-list.ham .hamburger{
        display: flex;
        /* display: none; */
        margin-left: auto;
    }
    .menu-list.cro .hamburger{
        display: none;
    }
    .menu-list.ham .cross{
        display: none;
    }
    .menu-list.cro .cross{
        display: flex;
    }
    /* .cross{
        display: flex;
    } */
    .nav-list{
        /* display: none; */
        position: absolute;
        bottom: 0;
        width: 100%;
        background: var(--white--ish-01);
        left: 0;
        padding: 1em 2em;
        transform: translate(0, 100%);
        opacity: 1;
        pointer-events: all;
        transition: .3s;
    }
    .nav-list.mob-thing{
        opacity: 0;
        pointer-events: none;
        transition: .3s;
    }
}

@keyframes slide{
    from{
        transform: translate(-100%, 100%);
    }
    to{
        transform: translate(0%, 100%);
    }
}

@media only screen and (max-width: 800px){
    .contact-stuff{
        flex-direction: column;
        gap: 1em;
    }
    .nav-list{
        flex-direction: column;
        gap: 1em;
        background: #222a;
    }
    .nav-list:not(.mob-thing){
        animation: slide linear .4s;
    }
    .nav-list .list-item a, .nav-list .list-item{
        background: transparent;
        color: var(--white--ish-01);
    }
    .nav-list .list-item a:hover{
        color: var(--dark-01);
    }
}

@media only screen and (max-width: 600px){
    .header-top-bar{
        grid-template-columns: 1fr;
    }
    .logo{
        text-align: center;
    }
    .logo img{
        max-width: 300px;
    }
    .contact-stuff, .header-things{
        align-items: center;
    }
    .header-things{
        gap: 2em;
    }
    .hamburger, .cross{
        margin: auto;
    }
}