td[name='messsage']{
    max-width: 10em;
    overflow: hidden;
}

td[name='messsage'] span{
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
    max-height: 20px;
}

.modal_message{
    /* display: flex; */
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2228;
    color: white;
    z-index: 3;
    word-wrap: break-word;
}

.modal_message.affiche{
    display: flex;
}
  
.message_content{
    width: 750px;
    height: min-content;
    margin: auto;
    background-color: var(--dark-01);
}

.msg-content-header{
    height: 3em;
    background-color: var(--bg--01);
    color: var(--dark-01);
    display: flex;
    align-items: center;
    padding-left: 1.5em
}

.msg-content-header #modal-concel{
    margin-left: auto;
    margin-right: 1em;
    padding: .5em;
    border: none;
    font-size: 25px;
    color: var(--dark-01-half)
  }

  .msg-info{
    padding: .5em;
    margin: 0  1.5em;
    line-height: 1.5em;
}

.msg-message{
    background-color: #fefefe;
    color: var(--dark-01);
    padding: 1em;
    border-radius: 10px;
    margin: 0 1.5em 1em;
  }

/*
.modal_message{
    /* display: none;*
     width: 500px;
     height: 500px;
     border: solid 1px;
     margin: 
     
   }*/