.souscomptepasswordmodifflash {
    text-align: center;
    padding: 10px 15px;
    background-color: #203c76;
    border-radius: 0.5rem;
    width: 460px;
    margin: auto;
    margin-bottom: 21px;
    color: white;
}