{% extends 'mqbaka_home/index.html.twig' %}


{% block title %}Service rachat{% endblock %}

{% block body %}
{% include "mqbaka_home/header.html.twig" %}
<link href="/css/serviceRachat.css" rel="stylesheet">
<img src="/images/avant-apres-rac.png" class="imgcenter">
<div class="container">
    <div class="grid2">
        <div class="pallet">
            <h4>Le rachat de crédits consiste à regrouper tous vos crédits:</h4>
            <div class="margeG">
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Prêts à la consommation</p>
                </div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Prêts Immobiliers</p>
                </div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Crédits Revolving</p>
                </div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Crédits Permanents</p>
                </div>
            </div>
            <div class="gridIntern2">
                <img style="width: 40px" src="/images/pngegg(1).png">
                <p>Possibilit un seul é dpr ’ajouter êt. de la trésorerie et de les transformer en un seul prêt.</p>
            </div>
        </div>
        <img src="/images/rachat-de-crédit-image-2-e1568020902180.png" class="imgD">
    </div>

    <div style="height: 50px"></div>
    <hr style="width: 400px; margin: auto; color:var(--dark-01)">
    <div style="height: 50px"></div>

    <div class="grid2">
        <img class="imgG" src="/images/rachat-de-credit-rapide.png">
        <div class="pallet">
            <h4>Les bonnes raisons d'opter pour le rachat de crédit:</h4>
            <div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Réduire les mensualités en rallongeant la durée du prêt.</p>
                </div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Rééquilibrer les finances en cas de changement dans la vie. (évènements familliaux, professionnels,départ en retraite,etc...)</p>
                </div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Réduire la durée en augmentant les mensualités.</p>
                </div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Redonner un nouveau souffle dans la vie au quotidien.</p>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 50px"></div>
    <hr style="width: 400px; margin: auto; color:var(--dark-01)">
    <div style="height: 50px"></div>

    <div class="grid2">
        <div class="pallet">
            <h3>Les raisons essentielles d’un rachat de crédits</h3>
            <div class="margeG">
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Réduire son endettement</p>
                </div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Améliorer son pouvoir d'achat</p>
                </div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Envisager une accession à la</p>
                </div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Alléger et faciliter son budget</p>
                </div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Prévoir son passage en retraite</p>
                </div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Constituer de l'épargne</p>
                </div>
                <div class="gridIntern">
                    <img style="width: 30px" src="/images/checked.png">
                    <p>Financer un nouveau projet</p>
                </div>
            </div>
        </div>
        <img src="/images/unnamed.png" class="imgD">
    </div>
</div>
{% endblock %}
