{% extends 'mqbaka_home/index.html.twig' %}


{% block title %}FEM - Service rachat{% endblock %}

{% block body %}
{% include "mqbaka_home/header.html.twig" %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/serviceRachat.css" rel="stylesheet">
<h2 id="titre">Augmenter votre pouvoir d'achat</h2>
<img src="/images/avant-apres.png" class="imgcenter">
<div class="container">
    <div class="grid2">
        <div class="palet">
            <h4>Le rachat de crédits consiste à regrouper tous vos crédits:</h4>
            <div class="margeG">
                <div class="gridIntern">
                    <img class="imgcheck" src={{ asset("images/icon/check.svg") }}>
                    <p>Prêts à la consommation</p>
                </div>
                <div class="gridIntern">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <p>Prêts Immobiliers</p>
                </div>
                <div class="gridIntern">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <p>Crédits Revolving</p>
                </div>
                <div class="gridIntern">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <p>Crédits Permanents</p>
                </div>
            </div>
            <div class="gridIntern2">
                <img style="width: 40px" src="/images/pngegg(1).png">
                <p>Possibilité d’ajouter de la trésorerie et de les transformer en un seul prêt.</p>
            </div>
        </div>
        <img src="/images/06.png" class="imgD">
    </div>

    <div style="height: 50px"></div>
    <hr class="Hr">
    <div style="height: 50px"></div>

    <div class="grid2">
        <img class="imgG" src="/images/13.png">
        <div class="palet">
            <h4>Les bonnes raisons d'opter pour le rachat de crédit:</h4>
            
                <div class="gridIntern">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <div class="hideOnPC"><p>Réduire les mensualités</p></div>
                    <div class="hideOnMobil"><p>Réduire les mensualités en rallongeant la durée du prêt.</p></div>
                </div>
                <div class="gridIntern">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <div class="hideOnPC"><p>Rééquilibrer les finances</p></div>
                    <div class="hideOnMobil"><p>Rééquilibrer les finances en cas de changement dans la vie. (évènements familliaux, professionnels, départ en retraite, etc...)</p></div>
                </div>
                <div class="gridIntern">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <div class="hideOnPC"><p>Réduire la durée </p></div>
                    <div class="hideOnMobil"><p>Réduire la durée en augmentant les mensualités.</p></div>
                </div>
                <div class="gridIntern">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <div class="hideOnPC"><p>Redonner un nouveau souffle</p></div>
                    <div class="hideOnMobil"><p>Redonner un nouveau souffle dans la vie au quotidien.</p></div>
                </div>
            
        </div>
    </div>

    <div style="height: 50px"></div>
    <hr class="Hr">
    <div style="height: 50px"></div>

    <div class="grid2">
        <div class="palet">
            <h3>Les raisons essentielles d’un rachat de crédits</h3>
            <div class="margeG">
                <div class="gridIntern3">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <p>Réduire son endettement</p>
                </div>
                <div class="gridIntern3">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <p>Améliorer son pouvoir d'achat</p>
                </div>
                <div class="gridIntern3">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <p>Envisager une accession à la</p>
                </div>
                <div class="gridIntern3">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <p>Alléger et faciliter son budget</p>
                </div>
                <div class="gridIntern3">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <p>Prévoir son passage en retraite</p>
                </div>
                <div class="gridIntern3">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <p>Constituer de l'épargne</p>
                </div>
                <div class="gridIntern3">
                    <img class="imgcheck" src="/images/icon/check.svg">
                    <p>Financer un nouveau projet</p>
                </div>
            </div>
        </div>
        <img src="/images/12.png" class="imgD2">
    </div>

    <div style="height: 80px"></div>

    <div class="treepalet">
        <div class="palet2 ">
            <p>Prenez une décision pendant qu'il en est encore temps.</p><br>
            <p>Redémarrez vers une situation stable, saine avec un taux d'endettement réduit.</p><br>
            <p>Redonnez un nouveau souffle à votre vie.</p><br><br>
            <h4>Repartez avec des nouveaux projets plein la tête !</h4>
        </div>
        <div class="palet2">    
            <p><strong>Intervenir à temps, ne pas attendre.</strong></p><br>
            <p>Les difficultés financières sont difficiles à surmonter,voir souvent impossibles et s'aggravent au fil du temps.</p><br>
            <p>Plus une situation est compliquée, plus les chances de trouver une solution seront réduites.</p><br>
            <h4>N'attendez pas d'arriver au surendettement !</h4>
        </div>
        <div class="palet2 paletcenter">
            <p>Nous nous efforçons de <strong>trouver les solutions les mieux adaptées</strong> à votre dossier.</p><br>
            <p>Chaque situation est particulière: (locataire, propriétaire, logement de fonction, hébergé).</p>
        </div>
    </div>
</div>
{% include "mqbaka_home/footer.html.twig" %}
{% endblock %}
