{% extends 'mqbaka_home/index.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}
{% block body %}
    {% include "mqbaka_home/header.html.twig" %}
<link href={{ asset('css/app3.css') }} rel="stylesheet">
<div>
    <h1 class="grandtitre">C'est quoi un prêt  In Fine</h1>
</div>
<hr>
<div class="grid-container">
 <div>
     <div> 
     <img class="image" src={{ asset('images/Services-credit-in-fine/14.png') }}></div>
 </div>
 <div>
     <p class="para1">C'est un prêt immobilier dont on ne rembourse que
les intérêts du capital initialement souscrit.<br>Pendant la durée du prêt, une épargne existante
(ou à constituer) de type assurance vie
va fructifier pour rembourser le capital emprunté
à la fin du prêt.</p>
<p class="para2">Ce sont les investisseurs locatifs qui sont les
principaux concernés.<br>L'avantage est surtout fiscal car le prêt In Fine
permet
de déduire les intérêts d'emprunt des revenus
locatifs et
de diminuer son imposition tout en profitant
de placements performants.</p>
 </div>   
</div>
<hr>
<div class="grid-container2">
<div class="section">
    <div class="border">
    <div class="sous-border">
        <p class="para3">Le prêt In Fine est un prêt immobilier dans le cadre où l'emprunteur ne rembourse
mensuellement que les intérêts et remboursera l’intégralité du capital à son échéance.<br>
Afin de garantir le remboursement de ce capital, l’emprunteur devra souscrire à une
épargne associée au crédit qui sera nantie (garantie) au profit du prêteur.</p>
<p class="para3">Le prêt In Fine présente la particularité suivante : l’emprunteur ne rembourse que
les intérêts par mensualités et l'intégralité du capital à échéance du prêt.</p>
<p class="para3">En un seul remboursement, l’emprunteur s'acquittera de l'ensemble du capital dû.</p>
<p class="para3">Cette option permet au souscripteur de rembourser des sommes moins importantes
de manière régulière et ainsi d’épargner et de demander à la banque un prêt plus
conséquent.<br> Toutefois, cela oblige l'emprunteur à rembourser la totalité du capital
en une seule fois.<br> C’est pour cette raison que les banques souhaitent obtenir des garanties.</p>
<p class="para3">Afin de garantir le remboursement de son crédit à échéance, l'emprunteur va placer
un capital existant qu’il va constituer par une épargne sur un produit de placement,
en général ; un contrat d’assurance vie.<br> La banque pourra déterminer un autre système de
capitalisation (SICAV), en fonction de la situation de son client.</p>
</div>
    </div>
    </div>

    <div>
         <img class="image2" src={{ asset('images/Services-credit-in-fine/15.png') }}>
    </div>
</div>
<hr>
<div class="grid-container3">
    <div>
        <img class="image3" src={{ asset('images/Services-credit-in-fine/16.png') }}>
    </div>
<div>
    <div class="section1">
    <div class="border1">
    <div class="sous-border1">
        <p class="para4">Quel que soit le choix effectué, le produit d’épargne sera nanti au profit de
l’établissement financier. <br>Il peut arriver qu'une seule partie du produit de placement
soit nantie au profit du prêteur, mais dans ce cas un effort d’épargne sera obligatoire.</p>
<p class="para4">L’une des faiblesses du prêt In Fine est son coût total qui est bien plus élevé qu’un
prêt amortissable.Cet inconvénient est compensé par des avantages fiscaux.</p>
<p class="para4">L’inconvénient majeur du prêt In Fine est le montant des intérêts qui est beaucoup
plus conséquent que celui des autres prêts immobiliers.</p>
<p class="para4">Dans le cadre du prêt amortissable classique le remboursement du capital s'étale
dans le temps.<br> Les intérêts sont calculés sur la base du capital restant dû, ce qui
implique qu’ils soient dégressifs au fur et à mesure du remboursement.</p>
<p class="para4">Les intérêts du prêt In Fine ne sont pas dégressifs et ne varient pas en fonction de
la durée de l’emprunt. Ainsi ils seront toujours du même montant ce qui permet de
calculer plus facilement le coût total du crédit.</p>
<p class="para4">Ce déséquilibre entre le prêt In Fine et le prêt classique est compensé par l’avantage
fiscal que représente le prêt In Fine.</p>
<p class="para4">Le prêt In Fine est destiné à l’acquisition d’un bien immobilier locatif.Afin de favoriser l’investissement dans ce secteur, les pouvoirs publics ont mis
en place un statut fiscal attractif pour ce genre de prêt.<br> En effet, l’emprunteur pourra
déduire de ses revenus locatifs imposables, les intérêts de l'emprunt immobilier.</p>
<p class="para4">A ce titre, il convient de noter que plus le montant des intérêts est important, plus
l’avantage fiscal est conséquent.</p>

</div>
    </div>
    </div>
</div>
</div>

{% block footer %}
{% include "mqbaka_home/footer.html.twig" %}
{% endblock %}

{% endblock %}
