<head>
    <title> Acceuil </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="newcss.css" rel="stylesheet" type="text/css"/>
</head>
<style>
    .titre{
        display: flex;
        color: #13141d;
        font-size: 20px;
        align-items: center;
        gap: 10px;
        margin-left: 30px;
    }
    .container{
        margin-top: 50px;
    }
</style>
<div class="container">
    <p class="titre"> <i class="fa fa-plus-circle" style="font-size:40px"></i> Ajouter Nouveau </p>
</div>