<div id="Tableau-de-bord" class="Tabcontent other">
    <div class="content-inner">
        <h2 class="content-title">Tableau de bord</h2>
        <div class="boxes-iconifiers">
            <div class="box-m">
                <img src={{ asset('images/icon/folder.svg') }} alt="" onclick="openCity(event, 'Demande-financement')">
                Demande de finance
            </div>
            <div class="box-m">
                <img src={{ asset('images/icon/card.svg') }} alt="" onclick="openCity(event, 'Paiement-fractionne')">
                Paiement fractionné
            </div>
            <div class="box-m">
                <img src={{ asset('images/icon/file.svg') }} alt="" onclick="openCity(event, 'Suivit-des-dossiers')">
                Suivi des dossiers
            </div>
        </div>
    </div>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sit reiciendis recusandae voluptatem, officia vel aliquam, id ad dicta totam harum numquam! Sint odit neque eligendi aperiam, possimus ex atque exercitationem debitis error nam ad quas iste nesciunt ipsum dolores aliquid delectus deserunt est blanditiis. Suscipit, ab quidem! Optio vel dolores adipisci, error cupiditate iure obcaecati, nulla voluptatem similique nam id impedit! Aspernatur exercitationem necessitatibus architecto nisi? Labore earum voluptatibus ullam harum dolore autem vel in, provident perferendis blanditiis fuga voluptatem? Ducimus id fuga aperiam ut ab consectetur sed odit dolores quia, temporibus aspernatur optio, magni ad ipsum doloremque similique.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sit reiciendis recusandae voluptatem, officia vel aliquam, id ad dicta totam harum numquam! Sint odit neque eligendi aperiam, possimus ex atque exercitationem debitis error nam ad quas iste nesciunt ipsum dolores aliquid delectus deserunt est blanditiis. Suscipit, ab quidem! Optio vel dolores adipisci, error cupiditate iure obcaecati, nulla voluptatem similique nam id impedit! Aspernatur exercitationem necessitatibus architecto nisi? Labore earum voluptatibus ullam harum dolore autem vel in, provident perferendis blanditiis fuga voluptatem? Ducimus id fuga aperiam ut ab consectetur sed odit dolores quia, temporibus aspernatur optio, magni ad ipsum doloremque similique.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sit reiciendis recusandae voluptatem, officia vel aliquam, id ad dicta totam harum numquam! Sint odit neque eligendi aperiam, possimus ex atque exercitationem debitis error nam ad quas iste nesciunt ipsum dolores aliquid delectus deserunt est blanditiis. Suscipit, ab quidem! Optio vel dolores adipisci, error cupiditate iure obcaecati, nulla voluptatem similique nam id impedit! Aspernatur exercitationem necessitatibus architecto nisi? Labore earum voluptatibus ullam harum dolore autem vel in, provident perferendis blanditiis fuga voluptatem? Ducimus id fuga aperiam ut ab consectetur sed odit dolores quia, temporibus aspernatur optio, magni ad ipsum doloremque similique.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sit reiciendis recusandae voluptatem, officia vel aliquam, id ad dicta totam harum numquam! Sint odit neque eligendi aperiam, possimus ex atque exercitationem debitis error nam ad quas iste nesciunt ipsum dolores aliquid delectus deserunt est blanditiis. Suscipit, ab quidem! Optio vel dolores adipisci, error cupiditate iure obcaecati, nulla voluptatem similique nam id impedit! Aspernatur exercitationem necessitatibus architecto nisi? Labore earum voluptatibus ullam harum dolore autem vel in, provident perferendis blanditiis fuga voluptatem? Ducimus id fuga aperiam ut ab consectetur sed odit dolores quia, temporibus aspernatur optio, magni ad ipsum doloremque similique.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sit reiciendis recusandae voluptatem, officia vel aliquam, id ad dicta totam harum numquam! Sint odit neque eligendi aperiam, possimus ex atque exercitationem debitis error nam ad quas iste nesciunt ipsum dolores aliquid delectus deserunt est blanditiis. Suscipit, ab quidem! Optio vel dolores adipisci, error cupiditate iure obcaecati, nulla voluptatem similique nam id impedit! Aspernatur exercitationem necessitatibus architecto nisi? Labore earum voluptatibus ullam harum dolore autem vel in, provident perferendis blanditiis fuga voluptatem? Ducimus id fuga aperiam ut ab consectetur sed odit dolores quia, temporibus aspernatur optio, magni ad ipsum doloremque similique.
    </p>
</div>