<div id="Tableau-de-bord" class="Tabcontent other">
    <div class="content-inner">
        <h2 class="content-title">Tableau de bord</h2>
        <div class="boxes-iconifiers">
            <div class="box-m">
                <img src={{ asset('images/icon/folder.svg') }} alt="" onclick="openCity(event, 'Demande-financement')">
                Demande de finance
            </div>
            <div class="box-m">
                <img src={{ asset('images/icon/card.svg') }} alt="" onclick="openCity(event, 'Paiement-fractionne')">
                Paiement fractionné
            </div>
            <div class="box-m">
                <img src={{ asset('images/icon/file.svg') }} alt="" onclick="openCity(event, 'Suivit-des-dossiers')">
                Suivi des dossiers
            </div>
        </div>
    </div>
</div>