{% extends 'mqbaka_home/index.html.twig' %}

{% block title %}Hello OneMoreController!{% endblock %}

{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/admin.css" rel="stylesheet">
<header>
    <div>
        <img src="/images/FINANCE_ET_MOI.png" style="background-color: #13141D">
    </div>
    <div>
        <img src="/images/Icon-feather-menu.png" style="background-color: #13141D">
        <div class="Right">
            <img src="/images/Icon-metro-profile.png" style="background-color: #13141D">
        </div>
    </div>
</header>
<aside>
    <div id="sidebar">
        <ul>
            <li>
                <a link="#">Tableau de bord</a>
            </li>
            <li>
                <a link="#">Demande financement</a>
            </li>
            <li>
                <a link="#">Paiement fractionne</a>
            </li>
            <li>
                <a link="#">Suivit des dossiers</a>
            </li>
        </ul>
    </div>
</aside>
{% endblock %}