
<meta name="viewport" content="widht=device-widht , initial-scale=1.0">
<link href={{ asset('css/list.css') }} rel="stylesheet">


<div>
 	<h2 class="tête"><img class="image" src={{ asset('images/icon/480px-Th_list_font_awesome.svg.png') }}>
Liste</h2>
<div class="bordur">
	<div class="grid">
		<div>
			<p class="paragraphe">Nom :</p>
		</div>
		<div>
			
		</div>
	</div>
	<div class="grid">
		<div>
			<p class="paragraphe">Prénom :</p>
		</div>
		<div>
			
		</div>
	</div>
	<div class="grid">
		<div>
			<p class="paragraphe">Adresse :</p>
		</div>
		<div>
			
		</div>
	</div>
</div>
</div>

		