
<meta name="viewport" content="widht=device-widht , initial-scale=1.0">
<link href={{ asset('css/list.css') }} rel="stylesheet">


<div>
 	<h2 class="tête" f><img class="image" src={{ asset('images/icon/list-d.svg') }}>Sous-comptes</h2>


	<div class="bordur">
		<div class="grid">
			<div>
				<p class="paragraphe">Nom :</p>
			</div>
			<div>
			</div>
		</div>
		<div class="grid">
			<div>
				<p class="paragraphe">Prénom :</p>
			</div>
			<div>
			</div>
		</div>
		<div class="grid">
			<div>
				<p class="paragraphe">Adresse :</p>
			</div>
			<div>
			</div>
		</div>
		<style>
			[f]{
				display: flex;
				gap: .7em;
			}
		</style>
	</div>
</div>

		