<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= {{ asset("/css/validation.css") }} rel="stylesheet">
</head>
<div>
    <div class="flex">
        <img src={{asset('images/icon-awesome-clipboard-check.png')}}>
        <p>Validation</P>
    </div>
    <table>
        <tr>
            <th>Nom de l'Agence</th>
            <th>Nom Gerant</th>
            <th>Prénom</th>
            <th>Adress</th>
            <th>Ville</th>
            <th>Actif</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>