<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    .flex{
        display: flex;
        gap: .7em;
        padding: 20px;
    }
    .flex p{
        font-size: 25px;
    }
</style>
<div>
    <div class="flex">
        <img src={{asset('images/icon-awesome-clipboard-check.png')}}>
        <p>Validation</P>
    </div>
</div>