{% extends 'mqbaka_home/index.html.twig' %}

{% block title %}Tableau de bord - Sous-comptes
{% endblock %}

{% block body %}
	{# <link href= {{ asset("/css/admin.css") }} rel="stylesheet"> #}
	<link href= {{ asset("/css/admin-dash.css") }} rel="stylesheet">

    <div class="dash-outliner">
        {% include "admin/admin-header.html.twig" %}
        <div class="dash-container sidebared">
            {% include "admin/components/sidebar.html.twig" %}

            {# Needs some conditions here #}
            {# if no elements on the list #}

            {# <div class="none-is-here">
                Vous n'avez pas encore de sous-comptes actifs.
                <a href={{ path("sajout") }} class="create-sous">
                    <img src={{ asset('images/icon/plus.svg') }} alt="">
                    Créer un sous-compte
                </a>
            </div> #}
            

            {# display the list if not empty #}
            {% set name= "Rakoto" %}
            {% set firstname= "firstRakoto" %}
            {% set adress= "12 rere of rere 102" %}
            {% include "admin/list.html.twig" with {name:name, firstname:firstname, adress:adress} only %}


        </div>
    </div>
    <div class="mobile-ham" onclick="toggleSideMobile()">
        <div class="ham-line"></div>
        <div class="ham-line"></div>
        <div class="ham-line"></div>
    </div>
    <script title="for the sidebar to show and collapse">

        function toggleSide(){
            let side= document.querySelector(".dash-container");
            side.classList.toggle('sidebared');
        }

        function toggleSideMobile(){
            let side= document.querySelector('.sidebarMenu');
            let ham= document.querySelector('.mobile-ham');

            ham.classList.toggle('expanded');
            side.classList.toggle('expanded');
        }
    </script>

{% endblock %}