{% extends 'mqbaka_home/index.html.twig' %}

{% block title %}Tableau de bord - Sous-comptes
{% endblock %}

{% block body %}
	{# <link href= {{ asset("/css/admin.css") }} rel="stylesheet"> #}
	<link href= {{ asset("/css/admin-dash.css") }} rel="stylesheet">

    <div class="dash-outliner">
        {% include "admin/admin-header.html.twig" %}
        <div class="dash-container sidebared">
            {% include "admin/components/sidebar.html.twig" %}

            {# Needs some conditions here #}
            {# if no elements on the list #}
            <div class="none-is-here">
                Vous n'avez pas encore de sous-comptes actifs.
                <a href={{ path("sajout") }} class="create-sous">
                    <img src={{ asset('images/icon/plus.svg') }} alt="">
                    Créer un sous-compte
                </a>
            </div>
            <style>
                .none-is-here{
                    margin: auto;
                }
                .create-sous{
                    display: flex;
                    gap: 1em;
                    text-decoration: none;
                    background: var(--blue-01);
                    color: var(--white--ish-01);
                    align-items: center;
                    width: max-content;
                    padding: 1em 2em;
                    margin: auto;
                    margin-top: auto;
                    margin-top: 1.5em;
                    border-radius: 4px;
                    position: relative;
                    z-index: 3;
                    overflow: hidden;
                }
                .create-sous img{
                    width: 2em;
                }
                .create-sous::after{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    background: var(--dark-01);
                    content: "";
                    height: 100%;
                    z-index: -1;
                    transition: .4s;
                }
                .create-sous:hover::after{
                    width: 100%;
                    transition: .4s;
                }
            </style>

            {# display the list if not empty #}
            {# {% include "admin/list.html.twig" %} #}


        </div>
    </div>
    <div class="mobile-ham" onclick="toggleSideMobile()">
        <div class="ham-line"></div>
        <div class="ham-line"></div>
        <div class="ham-line"></div>
    </div>
    <script title="for the sidebar to show and collapse">

        function toggleSide(){
            let side= document.querySelector(".dash-container");
            side.classList.toggle('sidebared');
        }

        function toggleSideMobile(){
            let side= document.querySelector('.sidebarMenu');
            let ham= document.querySelector('.mobile-ham');

            ham.classList.toggle('expanded');
            side.classList.toggle('expanded');
        }
    </script>

{% endblock %}