<div something>
{% if not attr %}
    {% set attr = "0" %}
{% endif %}
    <div class={{ act ? "switch-cool on" : "switch-cool" }} data-id={{ attr }}>
        <div class="switch-but" style="pointer-events: none"></div>
    </div>
</div>