<div something>
{% if not attr %}
    {% set attr = "0" %}
{% endif %}

{% if act == 1 %}

    {# <div class={{ act == 22 ? "switch-cool on" : "switch-cool" }} data-id={{ attr }}>
        <div class="switch-but" style="pointer-events: none"></div>
    </div> #}
    <div class="switch-cool on" data-id={{ attr }}>
        <div class="switch-but" style="pointer-events: none"></div>
    </div>
    {% else %}
    <div class="switch-cool" data-id={{ attr }}>
        <div class="switch-but" style="pointer-events: none"></div>
    </div>

{% endif %}


</div>