<header class="grid-container">
    <img class="logo" src="images/favicon.png" style="width: 300px">
    <div>A</div>
    <div style="display: grid; grid-template-columns: auto auto auto auto;">
        <img src="images/Icon feather-phone-call.png">
        <p>06 85 41 84 56</p>
        <img src="images/Icon feather-phone-call.png">
        <p>06 85 41 84 56</p>
    </div>
    <nav style="grid-column: 2 / 4; margin-top: -25px">
        <ul>
            <li> <a href="#">Acceuil</a> </li>
            <li> <a href="#">A propos</a> </li>
            <li> <a href="#">Assurance emprunteur</a> </li>
            <li> <a href="#">Crédits</a> </li>  
            <li> <a href="#">Services</a> </li>  
            <li> <a href="#">Tarif</a> </li>  
            <li> <a href="#">Votre concièrgerie</a> </li>  
            <li> <a href="#">Compte</a> </li>  
        </ul>
    </nav>
</header>