{% extends 'base.html.twig' %}

{% block title %}API Response{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Indexation infos response</h1>
    <h1>{{ status_code }}</h1>
    <h1>{{ contents }}</h1>
</div>
{% endblock %}