{% extends 'base.html.twig' %}

{% block title %}Abonnement réactivé!{% endblock %}

{% block body %}
<div class="messageContainer">
    <h3> Votre abonnement a bien été réactivé !!!!  <a href={{ path('dash') }}>Revenir à mon tableau de bord</a></h3>
</div>
{% endblock %}
