{% extends 'base.html.twig' %}

{% block title %}Abonnement désactivé!{% endblock %}

{% block body %}
<div class="messageContainer">
    <h3> Votre abonnement a bien été annulé !!!!  Vous pouvez toutefois <a href={{ path('dash') }}>revenir sur votre tableau de bord</a></h3>
</div>
{% endblock %}
