<form method="post" action="{{ path('type_abonnement_delete', {'id': type_abonnement.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir effacer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_abonnement.id) }}">
    <button class="create-sous">Supprimer</button>
</form>
