{% extends 'mqbaka_home/index.html.twig' %}

{% block title %}Nouveau type d'abonnement{% endblock %}

{% block body %}
	<link href= {{ asset("/css/admin-dash.css") }} rel="stylesheet">

    <div class="dash-outliner">
        {% include "admin/admin-header-admin.html.twig" %}
        <div class="dash-container sidebared">
            {% include "admin/components/sidebarAdmin.html.twig" %}
            <div class="contents">
                <h1>Créer un nouveau type d'abonnement</h1>
                
                    {{ include('type_abonnement/_form.html.twig') }}

            </div>
        </div>
    </div>
    <div class="mobile-ham" onclick="toggleSideMobile()">
        <div class="ham-line"></div>
        <div class="ham-line"></div>
        <div class="ham-line"></div>
    </div>
    <script title="for the sidebar to show and collapse">

        function toggleSide(){
            let side= document.querySelector(".dash-container");
            side.classList.toggle('sidebared');
        }

        function toggleSideMobile(){
            let side= document.querySelector('.sidebarMenu');
            let ham= document.querySelector('.mobile-ham');

            ham.classList.toggle('expanded');
            side.classList.toggle('expanded');
        }
    </script>

{% endblock %}